{% extends 'scientific_survey/base.html' %}
{% load i18n %}
{% load survey_extras %}

{% block body %}
<div id="intro">
  <ul>
    {% for survey in surveys %}
      {% if survey.id in started_surveys %}
        {% if started_surveys|get_by_key:survey.id %}
          {% include 'scientific_survey/partials/_survey.html' with url=started_surveys|get_by_key:survey.id action=_('continue') survey=survey %}
        {% else %}
          {% include 'scientific_survey/partials/_survey.html' with url=survey.get_absolute_url action=_('take') survey=survey %}
        {% endif %}
      {% else %}
        {% include 'scientific_survey/partials/_survey.html' with url=survey.get_absolute_url action=_('take') survey=survey %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
