{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico'%}"/>
    <link rel="stylesheet" href="{% static 'styles/bulma.min.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'survey/css/custom.css' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'styles/base_style.css' %}">

    {% block extracss %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="column has-text-centered">
        <h1 class="logo title">
          Textinator
        </h1>
        <h2 class="logo-spaced subtitle" style="padding-left: 2em;">Surveys</h2>
      </div>
    </div>
    <div class="container" id="wrap">
	   {% block wrapper %}{% endblock %}
     <div class="well" id="container-main">
      {% block body %}{% endblock %}
	   </div>
	</div>
	<div class="footer">
    <div class="container">
     {% block footer %}{% endblock %}
    </div>
  </div>
  <script type="text/javascript" src="{% static 'survey/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'survey/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'survey/js/custom.js' %}"></script>
  {% block extrajs %}{% endblock %}
</body>
</html>
