{% if project.dt_finish >= now %}
  <div class="columns">
    <div class="column is-three-fifths">
      {% include 'partials/components/areas/text.html' %}
    </div>
    <div class="column">
      {% include 'partials/components/areas/reminders.html' %}
      {% include 'partials/components/areas/markers.html' %}
      {% include 'partials/components/areas/submission.html' %}
    </div>
  </div>

  {% include 'partials/components/modals/guidelines.html' %}
  {% include 'partials/components/modals/flag.html' %}

  <script>
    const tour = new Shepherd.Tour({
      defaultStepOptions: {
        scrollTo: {
          behavior: 'smooth',
          block: 'center'
        },
        showCancelLink: true,
        tippyOptions: {
          maxWidth: 500
        }
      },
      theme: 'default',
      useModalOverlay: true,
      complete: function() {
        window.scrollTo(0, 0);
      }
    });

    tour.addStep('article', {
      text: "Här finns texten som du kommer att ställa frågor till. Du ska markera svar i texten och sedan trycka på en motsvarande markör (tryck på 'Next' för att få mer information om markörer)",
      attachTo: { 
        element: '.text.message', 
        on: 'bottom'
      },
      buttons: [
        {
          text: 'Next',
          action: tour.next
        }
      ]
    });

    tour.addStep('answer', {
      text: 'Här finns markörer. Du ska trycka på en motsvarande markör EFTER att du har markerat ett svar i texten.',
      attachTo: { 
        element: '.markers.message', 
        on: 'bottom'
      },
      buttons: [
        {
          text: 'Next',
          action: tour.next
        }
      ]
    });

    tour.addStep('questions', {
      text: "Här skriver du din fråga.",
      attachTo: { 
        element: '.question.message input[type="text"]', 
        on: 'bottom'
      },
      buttons: [
        {
          text: 'Next',
          action: tour.next
        }
      ]
    });

    tour.addStep('submit', {
      text: "Tryck här efter du har ställt en fråga samt markerad det rätta svaret och åtminstone 2 felaktiga svar. Lycka till!",
      attachTo: { 
        element: '.question.message button.submit', 
        on: 'bottom'
      },
      buttons: [
        {
          text: 'Finish',
          action: tour.hide
        }
      ]
    });

    $('#followIntroTour').on('click', function() {
      $('.guidelines.modal').removeClass('is-active');
      tour.start();
      tour.complete();
    });
  </script>
{% else %}
  <!-- Project expired -->
  <div>Project expired</div>
{% endif %}