<table class="table is-fullwidth">
  <thead>
    <th>Property</th>
    <th>Value</th>
  </thead>
  <tbody>
    <tr>
      <td>Batch extra</td>
      <td>
        {% with href='batchExtras' %}
          {% include 'partials/_importer_button.html' %}
        {% endwith %}
      </td>
    </tr>
    <tr>
      <td>Marker extra</td>
      <td>
        {% with href='markerExtras' %}
          {% include 'partials/_importer_button.html' %}
        {% endwith %}
      </td>
    </tr>
  </tbody>
</table>
