<div class="masonry-grid-item project card">
  <header class="card-header">
    <p class="card-header-title">
      {{project.title}}
    </p>
    {% if show_new %}
      <div class="card-header-icon">
        <span class="icon">
          <i class="fa fa-plus-circle"></i>
        </span>
      </div>
    {% endif %}
  </header>
  <div class="card-content">
    <div class="content">
      {% if project.video_summary.url %}
        <video src="{{project.video_summary.url}}" controls></video>
      {% endif %}

      <table class="">
        <tbody>
          <tr>
            <td colspan="2">
              {{project.short_description}}
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-language"></i></td>
            <td>{{project.language|translated_language_name}}</td>
          </tr>
          <tr>
            <td><i class="fa fa-calendar-day"></i></td>
            <td>
              {% if project.dt_publish > now %}
                <time datetime="{{project.dt_publish}}">{{_("to be published")|capitalize}} {{project.dt_publish|naturaltime}}</time>
              {% elif project.dt_finish < now %}
                <time datetime="{{project.dt_finish}}">{{_("expired")|capitalize}} {{project.dt_finish|naturaltime}}</time>
              {% else %}
                <time datetime="{{project.dt_finish}}">{{_("finishes")|capitalize}} {{project.dt_finish|naturaltime}}</time>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="card-footer">
    {% if can_view %}
      {% include 'partials/_view_button.html' %}
    {% endif %}
    {% if can_leave %}
      <a id="joinButton" class="card-footer-item">
        <form method="POST" action="{{ url('projects:join_or_leave', kwargs={'proj': project.id}) }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <input type="hidden" name="n" value="{{project_type}}">
        </form>
        {% if project.has_participant(user) %}
          <span>{{_("leave")|capitalize}}</span>
        {% else %}
          <span>{{_("join")|capitalize}}</span>
        {% endif %}
      </a>
    {% endif %}
  </footer>
</div>
