{% if user_projects %}
  <div class="my-projects masonry-grid">
    {% for project in user_projects %}
      {% with can_leave=False, can_view=True %}
        {% include 'partials/_project.html' %}
      {% endwith %}
    {% endfor %}
  </div>
{% else %}
  <article class="message is-info">
    <div class="message-body">
      <p>{{ _("You have not created any projects so far. If you want to create a new project now, please click") }} <a href="{{ url('admin:projects_project_add') }}"> {{_("here") }}</a></p>
      <!-- <p>Click <a class='intro-button'>here</a> if you want an introduction to the website</p> -->
    </div>
  </article>
{% endif %}
