__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
node_modules/
db.sqlite3
media/*
scrapers
export_db.sh
.env
log/*
static_cdn/*
data
aftonbladet*
.venv
example_texts_api/.tvenv
example_texts_api/__pycache__
htmlcov
package-lock.json
docs/build