html2markdown==0.1.7
matplotlib==3.0.2
pymongo==3.9.0
requests==2.18.4
seaborn==0.9.0
django_tinymce4_lite==1.7.5
Django==2.2.2
PyMySQL==0.9.3
django_admin_json_editor==0.2.0
django_filebrowser_no_grappelli==3.7.8
django-registration==3.0.1
django-sass-processor==0.7.3
Markdown==3.0.1
pytz==2018.3
beautifulsoup4==4.8.1
python-dotenv==0.10.3
mysql_connector_repackaged==0.3.1
PyYAML==5.1.2
psycopg2==2.7.7
Pillow==5.1.
