<div class="control has-tag-left is-marker-fullwidth">
  {% set required = marker.get_count_restrictions() == "eq1" %}
  <input class='input' type="text" name="{% include 'partials/components/controls/markers/_code.html' %}" placeholder="{% if placeholder is defined %}{{placeholder}}{% else %}{{marker.name}}{% endif %}" {% if extra is defined %}{{extra}}{% endif %} {% if required %} required {% endif %}>
  {% with required=required %}
    {% include 'partials/components/controls/markers/tag.html' with context %}
  {% endwith %}
</div>
