<div class="control">
  <div class="marker tags has-addons" data-s="{% include 'partials/components/controls/markers/_code.html' %}" data-color="{{marker.color}}" data-text-color="{{text_color}}" data-res="{{marker.get_count_restrictions()}}" data-shortcut="{{marker.shortcut|upper}}" data-indep="{% if not marker.is_part_of_relation() %}true{% else %}false{% endif %}" data-scope="text">
    {% if marker.is_part_of_relation() %}
      <span class="tag arrow is-grey"><input type="checkbox"></span>
    {% endif %}
    {% include 'partials/components/controls/markers/tag.html' %}
    <span class="tag is-grey">
      <i class="fas fa-align-left"></i>
    </span>
    {% if marker.shortcut %}
      <span class="tag is-dark">{{marker.shortcut|upper}}</span>
    {% endif %}
  </div>
</div>
