{% extends "layout.html" %}

{% block content %}
<div class="explorer">
  <div class="container is-fluid">
    <a href="{{ url('projects:detail', kwargs={'pk': project.pk}) }}" class="button is-info">Back to the project</a>
    <a href="{{ url('projects:data_exporter', kwargs={'proj': project.pk}) }}" class="button is-success" download>Export as JSON</a>
    <div class="is-pulled-right">In total: {% if labeled_inputs %}{{ labeled_inputs|length }}{% else %}{{ relations|length }}{% endif %} datapoints</div>
  </div>

  <script type="text/javascript" src="{{ static('js/highcharts/highcharts.js') }}"></script>
  <div class="container columns">
    <div class="column">
      <div id="labelLengthsChart" width="300" height="150"></div>
      <script type="text/javascript">
        $.get('{{ url("projects:label_lengths_chart", kwargs={"pk": project.pk}) }}', function(data) {
          $("#labelLengthsChart").highcharts(data);
        });
      </script>    
    </div>
    <div class="column">
      <div id="userTimingChart" width="300" height="150"></div>
      <script type="text/javascript">
        $.get('{{ url("projects:user_timing_chart", kwargs={"pk": project.pk}) }}', function(data) {
          $("#userTimingChart").highcharts(data);
        });
      </script>
    </div>
  </div>

  <div class="container is-fluid">
    {% for input, labels in labeled_inputs %}
      <div class="datapoint">
        <h4 class='title is-4'>
          {{input.content}}
          <div class="subtitle is-6">Created by <i>{{labels[0].user}}</i> on {{input.dt_created}}</div>
        </h4>
        <ul>
          {% for label in labels %}
            <li {% if label.undone %}class="red"{% endif %}>
              {% if label.marker.short == 'COR' %}
                <b>{{label.text}}</b>
                {% if label.comment %}
                  <span><b>--> {{label.comment}}</b></span>
                {% endif %}
              {% else %}
                {{label.text}}
                {% if label.comment %}
                  <span>==> {{label.comment}}</span>
                {% endif %}
              {% endif %}

              <span>({{label.user}}, {{label.pk}})</span>
            </li>
          {% endfor %}
        </ul>
        {% if user.is_superuser %}
          <form method="POST" action="{{ url('projects:async_delete_input', kwargs={'inp': input.pk, 'proj': project.pk}) }}" id="deleteForm">
            {{csrf_input}}
            <div class="control">
              <button class="ui button is-danger">
                <span class="icon"><i class="fas fa-trash-alt"></i></span>
                <span>Delete</span>
              </button>
            </div>
          </form>
        {% endif %}
      </div>
    {% endfor %}

    {% for context, rels in relations %}
      <div class="datapoint relation">
        <h4 class='title is-5'>
          {{context.content}}
          <div class="subtitle is-6">Created by <i>{{rels[0][0].user}}</i> on {{context.dt_created}}</div>
        </h4>
        <ul>
          {% for fst, snd in rels %}
            <li>
              {{fst.text}} --> {{snd.text}}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
