{% extends "layout.html" %}

{% block custom_scripts %}
<script id="labelerPlugins" data-url="{{ static('scripts/labeler_plugins/') }}" type="application/json">{{ marker_actions|tojson|safe }}</script>
<script id="relationRepr" type="application/json">{{ relation_repr|tojson|safe}}</script>
<script type="text/javascript" src="{{ static('scripts/labeler.js') }}"></script>
{% endblock %}

{% block content %}
{% if project.temporary_message %}
  <article class="message is-info">
    <div class="message-body">
      {{project.temporary_message|safe}}
    </div>
  </article>
{% endif %}
<div id="taskArea">
  {{task_type_template|safe}}
</div>
{% endblock %}

{% block custom_body_scripts %}
<script type="text/javascript" src="{{ static('scripts/project_ui.js') }}"></script>
{% endblock %}
