{% extends "layout.html" %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ static('bulma-slider/dist/css/bulma-slider.min.css') }}">
<link rel="stylesheet" href="{{ static('tippy.js/themes/translucent.css') }}">
<link rel="stylesheet" href="{{ static('tippy.js/dist/tippy.css') }}">
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="{{ static('scripts/formcache.min.js') }}"></script>
<script type="text/javascript" src="{{ static('bulma-slider/dist/js/bulma-slider.min.js') }}"></script>
<script type="text/javascript" src="{{ static('d3/dist/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ static('@eastdesire/jscolor/jscolor.min.js') }}"></script>

<script id="labelerPlugins" data-url="{{ static('scripts/labeler_plugins/') }}" type="application/json">{{ marker_actions|tojson|safe }}</script>
<script id="relationRepr" type="application/json">{{ relation_repr|tojson|safe}}</script>
<script type="text/javascript" src="{{ static('scripts/labeler.js') }}"></script>
<script>
  // let's set defaults for all color pickers
  jscolor.presets.default = {
    width: 141,               // make the picker a little narrower
    position: 'right',        // position it to the right of the target
    previewPosition: 'right', // display color preview on the right
    previewSize: 40,          // make the color preview bigger
    palette: [
      '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
      '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
      '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
      '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
    ],
  };
</script>
{% endblock %}

{% block content %}
{% if project.temporary_message %}
  <article class="message is-info">
    <div class="message-body">
      {{project.temporary_message|safe}}
    </div>
  </article>
{% endif %}
<div id="taskArea">
  {{task_type_template|safe}}
</div>
{% endblock %}

{% block custom_body_scripts %}
<script type="text/javascript" src="{{ static('scripts/project_ui.js') }}"></script>
{% endblock %}
