{% extends "layout.html" %}

{% block content %}
  <div id="tab-content" class='container is-fluid'>
    <div data-content="my-projects" {% if request.GET.n == 'mp' %}class='is-active'{% endif %}>
      {% if user_projects %}
        <div class="my-projects tile is-ancestor">
          {% for project in user_projects %}
            <div class="tile is-parent is-vertical is-3">
              <div data-link="{{ url('projects:detail', kwargs={'pk': project.id}) }}" class="project is-child notification has-even-padding is-info tile box">
                <div class="content">
                  <p class="title">{{project.title}}</p>
                  <div class="content has-text-justified">{{project.short_description}}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div data-content="shared-projects" {% if request.GET.n == 'sp' %}class='is-active'{% endif %}>
      {% if shared_projects %}
        <div class="shared-projects">
          {% for project in shared_projects %}
            <li>{{ project.title }}</li>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div data-content="open-projects" {% if request.GET.n == 'o' %}class='is-active'{% endif %}>
      {% include 'partials/_open_projects.html' %}
    </div>
    <div data-content="participations" {% if request.GET.n == 'p' or 'n' not in request.GET %}class='is-active'{% endif %}>
      {% include 'partials/_participations.html' %}
    </div>
  </div>
{% endblock %}