{% extends "layout.html" %}

{% block custom_scripts %}
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
  {% if request.GET.n == 'mp' %}
    {% include 'partials/_user_projects.html' %}
  {% elif request.GET.n == 'sp' %}
    {% include 'partials/_shared_projects.html' %}
  {% elif request.GET.n == 'o' %}
    {% include 'partials/_open_projects.html' %}
  {% elif request.GET.n == 'p' or 'n' not in request.GET %}
    {% include 'partials/_participations.html' %}
  {% endif %}
{% endblock %}