{% extends "layout.html" %}

{% block content %}
<div class="section hero is-large">
  <div class="container box is-vcentered is-centered">
    {% if project.is_open or project.has_participant(request.user) or project.shared_with(request.user) %}
      <h1 class="title">
        Please confirm your decision to join
      </h1>
      <h3 class="subtitle">In order to view the project, you need to join it first.<br>You can do so by clicking the button below</h3>
      <form class='form' method="POST" action="{{ url('projects:join_or_leave', kwargs={'proj': project.id}) }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="n" value="j">
        <input class="submit button is-fullwidth is-link" type="submit" value="Join"/>
      </form>
    {% else %}
      <h1 class="title">
        Sorry, you can't view the project
      </h1>
      <h3 class="subtitle">If you believe this is a mistake, please contact project responsible.</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
