<style>
  textarea {
    resize: none;
  }

  .text .message-body {
    height: 520px;
    overflow-y: scroll;
    text-align: justify;
  }

  .markers {
    height: 100px;
  }

  .marker.tag:hover {
    cursor: pointer;
  }
</style>

<div class="columns">
  <div class="column is-three-quarters">
    <div class="columns">
      <div class="column is-three-quarters">
        <article class="text message is-dark">
          <div class="message-header">
            <p>Article</p>
            <a id="guidelinesButton" class="is-pulled-right">GUIDELINES</a>
          </div>
          <div class="selector element message-body">{{text|linebreaks}}</div>
        </article>
      </div>
      <div class="column">
        <article class="article message is-dark">
          <div class="message-header">
            <p>Relations</p>
          </div>
          <div id="relations" class="message-body">            
          </div>
        </article>
      </div>
    </div>
    
    <article class="markers message is-dark" data-mmpi="{{project.max_markers_per_input or 'Infinity'}}">
      <div class="message-header">
        <p>Markers</p>
      </div>
      <div class="message-body">
        <div class="field is-grouped is-grouped-multiline">
          {% for marker in task_markers %}
            <div class="control">
              {{marker|display_marker}}
            </div>
          {% endfor %}
          {% for marker in project.marker_set.all() %}
            <div class="control">
              {{marker|display_marker}}
            </div>
          {% endfor %}
          {% for relation in task_relations %}
            <div class="control">
              {{relation|display_relation}}
            </div>
          {% endfor %}
          {% for relation in project.relation_set.all() %}
            <div class="control">
              {{relation|display_relation}}
            </div>
          {% endfor %}
        </div>
      </div>
    </article>

    <form id="inputForm" action="{{ url('projects:record_datapoint', kwargs={'proj': project.pk}) }}">
      {{ csrf_input }}
      <div class="field is-grouped">
        <div class="control">
          <button class='submit button'>Submit</button>
        </div>
        <div class='control'>
          <a href="{{ url('projects:new_article', kwargs={'proj': project.pk}) }}" class="button" id="getNewArticle">Get new article</a>
        </div>
        <div class="control">
          <button id="undoLast" data-url="{{ url('projects:undo_last', kwargs={'proj': project.pk}) }}" class='button'>Undo last</button>
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <article class="achievements message is-info">
      <div class="message-header">
        <p>Achievements</p>
      </div>
      <div class="message-body">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Scored in total</p>
              <p class="title">
                <div class="tt-set-size tt-charts-container">
                  <div class="tt-pie-wrapper no-margin">
                    <span id="inputPoints" class="tt-label">30<span class="smaller">p</span></span>
                    <div class="tt-pie">
                      <div class="left-side half-circle"></div>
                      <div class="right-side half-circle"></div>
                    </div>
                  </div>
                </div>
              </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Scored today</p>
              <p class="title">
                <div class="tt-set-size tt-charts-container">
                  <div class="tt-pie-wrapper no-margin">
                    <span id="peerPoints" class="tt-label">20<span class="smaller">p</span></span>
                    <div class="tt-pie">
                      <div class="left-side half-circle"></div>
                      <div class="right-side half-circle"></div>
                    </div>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </nav>
      </div>
    </article>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="guidelines card">
      <header class="card-header">
        <p class="card-header-title">
          {{project.title}}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p class='has-text-weight-bold'>Guidelines</p>
          <p class='has-text-justified'>{{project.guidelines}}</p>
        </div>
        <div class="content">
          <div id="followIntroTour" class='ui button'>Follow the intro tour</div>
        </div>
        <div class='content'>
          <p class='has-text-weight-bold'>Contact information</p>
          <!-- TODO: make this table responsive -->
          <table class='table'>
            <tbody>
              <tr>
                <td>Responsible</td>
                <td>{{project.author.first_name}} {{project.author.last_name}}</td>
              </tr>
              <tr>
                <td>Contact email</td>
                <td>{{project.author.email}}</td>
              </tr>
              <tr>
                <td>Published at</td>
                <td>{{project.dt_publish}}</td>
              </tr>
              <tr>
                <td>To be finished at</td>
                <td>
                  {{project.dt_finish}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
  $('#guidelinesButton').on('click', function() {
    $('.modal').addClass('is-active');
  });

  $('.modal-close').on('click', function() {
    $('.modal').removeClass('is-active');
    $('.countdown svg circle:last-child').trigger('cdAnimate');
  });

  $('.modal-background').on('click', function() {
    $('.modal').removeClass('is-active');
    $('.countdown svg circle:last-child').trigger('cdAnimate');
  });

  $('#guidelinesButton').click();

  const tour = new Shepherd.Tour({
    defaultStepOptions: {
      scrollTo: {
        behavior: 'smooth',
        block: 'center'
      },
      showCancelLink: true,
      tippyOptions: {
        maxWidth: 500
      }
    },
    theme: 'default',
    useModalOverlay: true
  });

  tour.addStep('article', {
    text: "Every time you're entering the project, you're presented with a Wikipedia article in this Article area of the screen.",
    attachTo: { 
      element: '.article.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Next',
        action: tour.next
      }
    ]
  });

  tour.addStep('questions', {
    text: "Your task is to ask questions based on this Wikipedia article. The questions are to be entered in this Question area of the screen",
    attachTo: { 
      element: '.question.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Next',
        action: tour.next
      }
    ]
  });

  tour.addStep('answer', {
    text: 'Finally, to mark the correct answer to the question, please highlight the answer in the Article area and then click on one of the markers below (or use the shortcuts that might be present in the right corner for each marker). Happy question answering!',
    attachTo: { 
      element: '.markers.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Finish',
        action: tour.hide
      }
    ]
  });

  $('#followIntroTour').on('click', function() {
    $('.modal').removeClass('is-active');
    tour.start();
  });
</script>