<div class="columns">
  <div class="column is-three-quarters">
    {% include 'partials/components/areas/text.html' %}
  </div>
  <div class="column">
    {% include 'partials/components/areas/relations.html' %}
  </div>
</div>
<div class="columns">
  <div class="column is-three-quarters">
    {% include 'partials/components/areas/markers.html' %}
    {% include 'partials/components/areas/submission.html' %}
  </div>
  <div class="column">
    {% include 'partials/components/areas/reminders.html' %}
  </div>
</div>

{% include 'partials/components/modals/guidelines.html' %}

<script>
  $('#guidelinesButton').on('click', function() {
    $('.modal').addClass('is-active');
  });

  $('.modal-close').on('click', function() {
    $('.modal').removeClass('is-active');
    $('.countdown svg circle:last-child').trigger('cdAnimate');
  });

  $('.modal-background').on('click', function() {
    $('.modal').removeClass('is-active');
    $('.countdown svg circle:last-child').trigger('cdAnimate');
  });

  $('#guidelinesButton').click();

  const tour = new Shepherd.Tour({
    defaultStepOptions: {
      scrollTo: {
        behavior: 'smooth',
        block: 'center'
      },
      showCancelLink: true,
      tippyOptions: {
        maxWidth: 500
      }
    },
    theme: 'default',
    useModalOverlay: true
  });

  tour.addStep('article', {
    text: "Every time you're entering the project, you're presented with a Wikipedia article in this Article area of the screen.",
    attachTo: { 
      element: '.article.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Next',
        action: tour.next
      }
    ]
  });

  tour.addStep('questions', {
    text: "Your task is to ask questions based on this Wikipedia article. The questions are to be entered in this Question area of the screen",
    attachTo: { 
      element: '.question.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Next',
        action: tour.next
      }
    ]
  });

  tour.addStep('answer', {
    text: 'Finally, to mark the correct answer to the question, please highlight the answer in the Article area and then click on one of the markers below (or use the shortcuts that might be present in the right corner for each marker). Happy question answering!',
    attachTo: { 
      element: '.markers.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Finish',
        action: tour.hide
      }
    ]
  });

  $('#followIntroTour').on('click', function() {
    $('.modal').removeClass('is-active');
    tour.start();
  });
</script>