{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base_style.css' %}">
  </head>
  <body>
    <section class="hero main-gradient is-fullheight">
      <div class="hero-body">
        <div class="box has-text-centered is-vcentered margin-center">
          <h1 class="logo">404 Not Found</h1>
          <p>{{ _("Whoops! We can not find this page on our server.") }} </p>
          <p><a href="{% url 'projects:index' %}">{{ _("back to the site")|capfirst }}</a></p>
        </div>
      </div>
    </section>
  </body>
</html>
