<div class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-2">
          <figure class="image is-128x128">
            <img src="{{ static('images/great_job.png') }}" alt="">
          </figure>
        </div>
        <div class="column">
          <h1 class="title">
            You have finished this challenge!
            <p class="subtitle">Thank you for the participation! Your contribution to the research is invaluable!</p>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>