<div class="tabs">
  <ul>
    <li class='logo'>
      <a href="/textinator">Textinator</a>
    </li>
    {% if request.path == url('projects:index') %}
    <li class="challenges{% if request.GET.n == 'p' or 'n' not in request.GET %} is-active{% endif %}" data-tab="participations">
      <a>
    {% else %}
    <li class='challenges'>
      <a href="{{ url('projects:index') }}?n=p">
    {% endif %}
        <span class="icon is-small"><i class="fas fa-medal" aria-hidden="true"></i></span>
        <span>My Challenges</span>
      </a>
    </li>
    {% if request.path == url('projects:index') %}
    <li class="open-challenges{% if request.GET.n == 'o' %} is-active{% endif %}" data-tab="open-projects">
      <a>
    {% else %}
    <li class='open-challenges'>
      <a href="{{ url('projects:index') }}?n=o">
    {% endif %}
        <span class="icon is-small"><i class="fas fa-trophy" aria-hidden="true"></i></span>
        <span>Open Challenges</span>
      </a>
    </li>
    {% if user_projects %}
      {% if request.path == url('projects:index') %}
      <li {% if request.GET.n == 'mp' %}class='is-active'{% endif %} data-tab="my-projects" class='my-projects'>
        <a>
      {% else %}
      <li class='my-projects'>
        <a href="{{ url('projects:index') }}?n=mp">
      {% endif %}
          <span class="icon is-small"><i class="fas fa-project-diagram" aria-hidden="true"></i></span>
          <span>My Projects</span>
        </a>
      </li>
    {% endif %}
    {% if shared_projects %}
      {% if request.path == url('projects:index') %}
      <li {% if request.GET.n == 'sp' %}class='is-active'{% endif %} data-tab="shared-projects" class='shared-projects'>
        <a>
      {% else %}
      <li class='shared-projects'>
        <a href="{{ url('projects:index') }}?n=sp">
      {% endif %}
          <span class="icon is-small"><i class="fas fa-users" aria-hidden="true"></i></span>
          <span>Shared projects</span>
        </a>
      </li>
    {% endif %}
    <li class='is-pulled-right'>
      <span class='text'>Welcome, {{user.get_full_name() or user.username}}!</span>
      {% if user.is_staff %}
        {% if project%}
          <a href="{{ url('projects:data_explorer', kwargs={'proj': project.pk}) }}" class='admin'>
            <span class="icon is-small"><i class="fas fa-chart-bar"></i></span>
            <span>Data explorer</span>
          </a>
        {% endif %}
        <a href="{{ url('admin:index') }}" class='admin'>
          <span class="icon is-small"><i class="fas fa-user-shield"></i></span>
          <span>Admin</span>
        </a>
      {% endif %}
      <a href="{{ url('logout') }}">
        <span class="icon is-small"><i class="fas fa-sign-out-alt"></i></span>
        Logout
      </a>
    </li>
  </ul>
</div>