html[is-inside],
html[is-inside] body {
  scrollbar-width: thin;
}

body .container:first-of-type {
  margin-top: 1em;
}

@font-face {
  font-family: "ROBOTECH GP";
  font-style: normal;
  font-weight: normal;
  src: url("./webfonts/ROBOTECH GP.ttf");
}

.no-margin {
  margin: 0 !important;
}

.is-sticky {
  position: sticky;
  top: -1.25em;
  z-index: 10;
  background: #f5f5f5;
}

.margin-center {
  margin: 0 auto;
}

.pre-formatted-text {
  white-space: pre-wrap !important;
}

.main-gradient {
  background: radial-gradient(#b2b2b2, #6a6a6a);
}

.participations .tile.is-child:hover,
.open-projects .tile.is-child:hover,
.my-projects .tile.is-child:hover,
.shared-projects .tile.is-child:hover {
  cursor: pointer;
}

.logo {
  font-family: "ROBOTECH GP";
  font-size: 5em;
  letter-spacing: 2px;
  line-height: 0.4em;
  margin-bottom: 0.5em;
}

.logo-spaced {
  font-family: "ROBOTECH GP";
  font-size: 1.5em;
  letter-spacing: 20px;
}

.logo a {
  border-bottom: none;
  padding: 0;
}

.small.logo {
  font-size: 1.5em;
}

.navbar .logo {
  font-size: 2em;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 0.17em;
}

.project.card {
  background: #17a2b8;
  color: white;
  max-width: 450px;
  width: 100%;
}

.project.card .card-header .card-header-title,
.project.card a {
  color: white;
}

.project.card .card-footer-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project.card .card-content {
  padding: 1rem 1.5rem;
}

.project.card table tr td:first-child {
  width: 1em;
}

.text-language-switcher form {
  width: fit-content;
  width: -webkit-fit-content;
}

.text-language-switcher span {
  color: gray;
}

.text-language-switcher form,
.text-language-switcher span {
  float: left;
}

.text-language-switcher input[type="submit"] {
  background: none;
  border: none;
  font-size: 1em;
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}

pre {
  margin: 20px 0;
  padding: 20px;
  background: #fafafa;
}

.tile-footer {
  background-color: transparent;
  border-top: 1px solid #dbdbdb;
  align-items: stretch;
  display: flex;
}

.tile-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}

.notification.has-even-padding {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.tabs li.is-pulled-right,
.card-header .is-pulled-right {
  margin-left: auto;
}

.tabs li.is-pulled-right a {
  display: inline-block;
}

.navbar.has-bottom-border {
  border-bottom: 1px solid #dbdbdb;
}

.navbar .icon:first-child {
  margin-right: 0.5em;
}

.navbar .icon:last-child {
  margin-left: 0.5em;
}

.is-flex.is-vcentered {
  align-items: center;
}

.profile.title {
  margin-bottom: 5px;
}

.profile.hero {
  margin-top: 5px;
  margin-bottom: 30px;
}

.textinator {
  padding: 0px 1em;
}

.guidelines.modal .modal-content {
  max-width: 1200px;
  width: 80%;
}

.guidelines.modal .modal-content.half {
  width: 45%;
}

.guidelines.modal .modal-content.left.half {
  margin: unset;
  margin-right: auto;
}

.guidelines.modal .modal-content.right.half {
  margin: unset;
  margin-left: auto;
}

.guidelines.modal .modal-content.center {
  margin: 0 auto;
}

.guidelines.card {
  height: 100%;
}

.guidelines.card .card-content .content:first-child {
  max-height: 510px;
  overflow-y: auto;
  text-align: justify;
}

.participations,
.open-projects,
.my-projects,
.shared-projects {
  flex-wrap: wrap;
}

.participations [data-link] {
  border: 2px solid #3273dc;
}

.participations [data-link]:hover {
  border: 2px solid black;
}

/* QTimer */
.countdown {
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 1.3em;
  position: relative;
  margin: auto;
  height: 160px;
  width: 160px;
  text-align: center;
}

.countdown-number {
  color: #333;
  font-size: 2em;
  display: inline-block;
  line-height: 160px;
}

.countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 160px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown svg circle {
  stroke-dasharray: 390px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: rgba(0, 0, 0, 0.1);
  fill: none;
}

.countdown svg circle:last-child {
  stroke: #333;
}

.countdown-animate {
  animation: countdown 60s linear forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 390px;
  }
}

textarea {
  resize: vertical;
}

.text {
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100%;
}

.text > .message-body {
  height: 85vh;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow-y: none;
  text-align: justify;
}

.text .message-body.utterance {
  position: relative;
}

.text .message-body.utterance button[data-meta] {
  position: absolute;
  right: 0;
  top: 0;
}

.text > .footer {
  height: 20px;
}

.achievements {
  height: 100%;
}

.achievements .message-body {
  height: 100%;
  max-height: 830px;
  overflow-y: scroll;
}

.marker.tags:hover,
.relation.tags:hover {
  cursor: pointer;
}

.marker.tags input[type="checkbox"] {
  margin-top: 0.25em;
}

.tt-level {
  text-align: center;
}

.tt-level .tt-header {
  font-weight: bold;
  font-size: 3em;
}

.tt-level .tt-title {
  font-size: 2em;
}

.selector .tag > .tag {
  margin: 0em 0.5em;
}

.selector .tag {
  border: 2px solid transparent;
  display: inline;
  position: relative;
  padding-left: 1.35em;
  white-space: normal;
}

.selector .tag .delete {
  margin-top: -0.2rem;
  vertical-align: middle;
}

.selector .tag .tag {
  border: 2px solid white;
}

.selector .tag.active {
  border: 2px solid black !important;
  cursor: pointer;
}

.selector .tag .rel {
  font-size: 0.8em;
  left: 4px;
  position: absolute;
  top: 0;
  line-height: initial;
}

.selector .tag .rel.is-badge {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  height: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  top: -0.3em;
}

.selector.element p:last-child {
  padding-bottom: 1em;
}

.selector {
  height: 100%;
  overflow-y: scroll;
  overflow: auto;
}

.selector .scrollable {
  padding-right: 5px;
  height: 64%;
  overflow-y: scroll;
  overflow: auto;
}

.selector .pinned {
  padding-right: 5px;
  height: 32%;
  overflow-y: scroll;
  overflow: auto;
}

.selector .pinned:first-child {
  height: 15%;
  border-bottom: 1px solid grey;
  margin-bottom: 1.5rem;
}

.container.tt-workspace {
  padding-left: 24px;
  padding-right: 7rem;
}

.actions-area {
  border-color: #00d1b2;
  border-width: 0 0 0 4px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 5rem;
  position: fixed;
  right: 0;
  top: 3.25rem;
  z-index: 25;
}

.message.actions-area .message-body {
  border-width: 0;
}

.actions-area .message-body:last-of-type {
  margin-bottom: 3rem;
  margin-top: auto;
}

.actions-area .button {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 5px;
  left: 0;
  transition: left 0.75s, padding-right 0.4s;
}

.actions-area .button .icon:first-child:not(:last-child) {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.actions-area .button span:last-of-type {
  visibility: hidden;
  width: 0;
}

.actions-area .button:hover {
  left: -6.5em;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding-right: 10rem;
}

.actions-area .button:hover span:last-of-type {
  visibility: visible;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.actions-area .button:hover .icon:first-child:not(:last-child) {
  margin-left: 0.5em;
  margin-right: 0.25em;
}

.actions-area .message-header,
.actions-area .message-body {
  border-radius: 0;
}

.actions-area .message-body {
  padding: 1.25em 1em;
}

.tag.is-grey {
  background-color: #696969;
  color: white;
}

.tag.arrow {
  font-weight: bold;
}

.tt-charts-container {
  margin-top: -0.07em !important;
}

.tag.is-disabled {
  opacity: 0.4;
}

.tag.is-disabled:hover {
  border: 0px !important;
  cursor: default !important;
}

.marked.relations {
  height: 40vh;
}

.marked.relations .message-body {
  display: flex;
  flex-direction: column;
  height: 90%;
}

#relations {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.small.container {
  max-width: 700px;
  text-align: justify;
}

.hidden {
  display: none !important;
}

.editing-area .card-header {
  height: 40px;
}

.editing-area .message-body {
  max-height: 150px;
  -ms-overflow-y: scroll;
  overflow-y: scroll;
}

.editing-area .message-body {
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.editing-area ul > ul {
  margin-left: 1.5em;
}

.editing-area li {
  display: flex;
}

.editing-area ul > ul > li,
.editing-area ul > li:not(:last-child) {
  margin-bottom: 0.3em;
}

.editing-area li .button:first-child {
  display: flex;
  margin-right: 0.5em;
}

.editing-area li div.button.is-danger {
  border-color: #ab1f35;
  color: #ab1f35;
}

.editing-area li div.button.is-danger.is-outlined:hover,
.editing-area li div.button.is-danger.is-outlined:focus,
.editing-area li div.button.is-danger.is-outlined:active,
.editing-area li div.button.is-danger.is-outlined.is-hovered,
.editing-area li div.button.is-danger.is-outlined.is-active {
  background-color: #ab1f35;
  border-color: #ab1f35;
  color: white;
}

.editing-area .message-body {
  padding-top: 0px;
}

.editing-area .pagination {
  padding: 1.5em 1.5em 1.25em 1.5em;
}

.editing-area .search {
  padding: 1.5em 1.5em 1.25em 1.5em;
}

.editing-area .search .field.has-addons {
  flex-wrap: wrap;
}

.editing-area .button span:last-child {
  margin-left: auto;
}

.editing-area .button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.5em - 1px);
  margin-right: calc(-0.5em - 1px);
}

.tabs span.text {
  align-items: center;
  color: #4a4a4a;
  display: inline-block;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
}

.mce-btn.mce-open button {
  padding-bottom: 3px;
}

.mce-checkbox .mce-label {
  vertical-align: top !important;
}

.mce-window-head .mce-close {
  z-index: 100;
}

.selector .title {
  margin-top: 1em;
}

.selector > .title {
  margin-top: 0;
}

.button-scrolling {
  position: relative;
}

.scrolling.button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.7;
  top: auto;
  width: 100%;
}

.is-grey {
  background: rgba(0, 0, 0, 0.1);
}

.flag-controls .field .control:not(.single) {
  margin-bottom: 0.5em;
}

.flag-controls .field > .control:not(.single) {
  margin-top: 0.5em;
}

.explorer {
  max-width: 1366px;
  margin: 0 auto;
}

.explorer .container:first-child {
  margin-bottom: 1em;
}

.explorer .datapoint {
  padding-bottom: 3em;
}

.explorer .datapoint .title {
  margin-bottom: 0.75rem;
}

.explorer .datapoint ul {
  counter-reset: list;
  padding-bottom: 0.5em;
}

.explorer .datapoint ul > li {
  list-style-position: inside;
  list-style-type: none;
}

.explorer .datapoint ul > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}

.explorer .datapoint.relation ul > li:before {
  content: counter(list, digits) ") ";
  counter-increment: list;
}

.reminders ul,
.reminders ol {
  margin-left: 1em;
}

.survey-progress-value {
  position: absolute;
  left: 50%;
  font-size: 12px;
}

.survey-table label {
  margin-right: 1em;
}

label.error {
  vertical-align: top;
}

.no-decoration {
  text-decoration: none !important;
}

.range-wrap {
  position: relative;
}

.range {
  width: 100%;
}

.bubble {
  background: rgb(50, 152, 220, 0.7);
  color: white;
  padding: 4px 8px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  top: 80%;
  font-size: 0.9em;
  transform: translateX(-50%);
}

#sortable {
  list-style-type: none;
}
#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
}

#sortable li span:not(.tag) {
  position: absolute;
  top: 45%;
  left: 7px;
}

.marker.groups.message .message-body,
.markers.message .message-body {
  max-height: 50vh;
  overflow-y: scroll;
}

.markers.message .message-body .tabs,
.modal .tabs {
  margin-bottom: 0.75em;
  margin-top: -1em;
}

/**
 * Bulma extensions
 */

.checkbox.is-small {
  font-size: 0.8em;
}

.checkbox.is-small input[type="checkbox"] {
  transform: scale(0.85);
}

.is-tiny {
  font-size: 0.55rem;
}

.is-huge {
  font-size: 10rem;
}

.icon.is-huge {
  height: 10rem;
  width: 10rem;
}

.tag.is-warndark {
  background-color: #946c00;
  color: #fff;
}

.tag.is-pink {
  background-color: #ff7373;
  color: #fff;
}

.tag.is-orange {
  background-color: #e9a72f;
  color: #fff;
}

.control.has-tag-left .select select {
  padding-left: 7em;
}

.control.has-tag-left .tag,
.control.has-tag-right .tag {
  pointer-events: none;
  position: absolute;
  left: 7px;
  top: 7px;
  width: fit-content;
  z-index: 4;
}

.control.has-tag-left textarea {
  padding-top: 35px !important;
}

input.help.is-danger {
  font-size: 1rem;
}

label.help.is-danger {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.button.is-hovering {
  width: 40px;
  -webkit-justify-content: left;
  justify-content: left;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.button.is-hovering .icon:first-child:not(:last-child) {
  margin-left: calc(-0.3em - 1px);
}

.button.is-hovering .icon:first-child:not(:last-child):hover {
  margin-left: calc(-0.5em - 1px);
}

.button.is-hovering:hover {
  width: 100% !important;
}

.is-group {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.is-group span {
  margin-right: 5px;
}

.is-group > span:first-child {
  margin-right: 15px;
}

.has-text-orange {
  color: #ff8000;
}

.has-text-darkyellow {
  color: #f6be00;
}

.mdi.mdi-flip-h:before {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.card .card-content .content.is-divided {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 1.5em;
}

/*
 * Checkboxes
 */
.checkbox + .checkbox {
  margin-left: 0.5em;
}

.vertical-checkbox .checkbox {
  display: flex;
  margin-left: 0;
}

.vertical-checkbox .checkbox input[type="checkbox"] {
  height: 23px;
  margin-right: 7px;
}

/*
 * Radio buttons
 */

.compact-radio > .radio:first-of-type {
  margin-left: 0.75em;
}

.vertical-radio .radio {
  display: flex;
  margin-left: 0;
}

.vertical-radio .radio input[type="radio"] {
  height: 20px;
  margin-right: 5px;
}

.outer.radio, .compact-radio {
  display: inline-flex;
  justify-content: flex-start;
}

.outer.radio {
  align-items: start;
}

.compact-radio {
  align-items: center;
}

.outer.radio:not(:last-of-type),
.vertical-radio .radio:not(:last-of-type) {
  margin-bottom: 10px;
}

.vertical-radio .outer.radio .radio:not(:last-of-type) {
  margin-bottom: 0;
}

.outer.radio > input[type="radio"] {
  height: 23px;
  margin-right: 0.5em;
  accent-color: #8f5c00;
}

.outer.radio .radio {
  display: inline-block;
}

.outer.radio .radio input[type="radio"] {
  height: 23px;
  margin-right: 0;
  vertical-align: top;
}

/*
 * Tabs
 */
div[data-content] {
  display: none;
}

div[data-content].is-active {
  display: block;
}

/**
 * Other library fixes
 */

/* Fix integration of django-nested-admin with jazzmin */
.nested.card-header,
.nested.card-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.is-marker-fullwidth {
  width: 100%;
}

.is-marker-w90 {
  width: 90%;
}

.is-marker-w80 {
  width: 80%;
}

.masonry-grid-item {
  margin-bottom: 1em;
}

/* Adapted from W3Schools */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  display: none;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10000;
  top: 100%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  max-width: 600px;
  max-height: 400px;
  white-space: normal;
  overflow-y: scroll;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  display: block;
  opacity: 1;
}

.equal-width-table thead {
  background-color: #7a7a7a;
}

.equal-width-table thead tr td {
  color: #f5f5f5;
  text-align: center;
  vertical-align: middle;
  width: 33%;
}
