<div class="hero mb-5">
  <form id="generationArea" action="{{ url('toolbox:string_combinator:record_generation') }}" method="POST" class='form generation-area'>
    {{csrf_input}}
    <fieldset>
      <p>Here the generated combinations will appear!</p>
    </fieldset>
  </form>
</div>
<div class="container">
  <form id="editingSearchForm" action="{{ url('toolbox:string_combinator:search_generations') }}" method="GET">
    <div class="field has-addons">
      <p class="control">
        <span class="select is-small">
          <select name="search_type">
            <option value="phr">Phrase</option>
            <option value="int">Keywords</option>
            <option value="web">Web-like</option>
          </select>
        </span>
      </p>
      <div class="control is-expanded">
        <input class="input is-small" type="text" placeholder="What do you want to search for?" name="query">
      </div>
      <div class="control">
        <input type="submit" class="button is-info is-small" value="Search">
      </div>
    </div>
  </form>
  <ul data-url="{{ url('toolbox:string_combinator:load') }}" id="searchResults" class='mt-2'></ul>
</div>
