{% if not dp_info.is_empty or project.allow_post_editing %}
  <article id="actionsArea" class="message is-primary actions-area">
    <div class="message-body">
      {% if project.guidelines %}
        <a id="guidelinesButton" class="button">
          <span class="icon"><i class="fas fa-question"></i></span>
          <span>{{ _("guidelines")|title }}</span>
        </a>
      {% endif %}
      {% if project.allow_editing %}
        <a id="editingModeButton" href="{{ url('projects:editing', kwargs={'proj': project.pk}) }}" class="button" data-mode="o">
          <span class="icon"><i class="fas fa-edit"></i></span>
          <span>{{ _("edit")|capitalize }}</span>
        </a>
      {% endif %}
      {% if project.allow_reviewing %}
        <a id="reviewingModeButton" href="{{ url('projects:review', kwargs={'proj': project.pk}) }}" class="button" data-mode="o">
          <span class="icon"><i class="fas fa-pencil-ruler"></i></span>
          <span>{{ _("review")|capitalize }}</span>
        </a>
      {% endif %}
    </div>
    <div class="message-body">
      <form id="inputForm" action="{{ url('projects:record_datapoint', kwargs={'proj': project.pk}) }}">
        {{ csrf_input }}
        <input type="hidden" name="mode" value="r">
        <a data-type="submit" class='submit button'>
          <span class="icon"><i class="fas fa-paper-plane"></i></span>
          <span>{{ _("submit")|capitalize }}</span>
        </a>
        {% if not dp_info.is_empty %}
          {# <a id="undoLast" data-url="{{ url('projects:undo_last', kwargs={'proj': project.pk}) }}" class='button'><span class="icon"><i class="fas fa-undo"></i></span><span>{{ _("undo last")|capitalize }}</span></a> #}
          <a href="{{ url('projects:new_article', kwargs={'proj': project.pk}) }}" class="button" id="getNewArticle">
            <span class="icon"><i class="fas fa-file-alt"></i></span>
            <span>{{ _("get next")|capitalize }}</span>
          </a>
          <a href="{{ url('projects:new_article', kwargs={'proj': project.pk}) }}" class="button" id="skipForLater">
            <span class="icon"><i class="fas fa-cloud-upload-alt"></i></span>
            <span>{{ _("save for later")|capitalize }}</span>
          </a>
        {% endif %}
        {% if dp_info.source_spec and dp_info.source_spec.get('meta') %}
          <a href="{{ url('projects:project_meta', kwargs={'proj': dp_info.project_id})}}" target="_blank" id="meta" class="button">
            <span class="icon">
              <i class="fas fa-external-link-alt"></i>
            </span>
            <span>Open metadata</span>
          </a>
        {% endif %}
        {% if project.allow_selecting_labels %}
          <a id="deselectAllMarkers" class="no-decoration button">
            <span class="icon">
              <i class="fas fa-minus-square"></i>
            </span>
            <span>Deselect all</span>
          </a>
        {% endif %}
      </form>
    </div>
  </article>
{% endif %}
