<article id="editingBoard" data-mode="editing" data-url="{{ url('projects:get_batch', kwargs={'proj': project.pk}) }}" data-flag-url="{{ url('projects:flag_batch', kwargs={'proj': project.pk}) }}" data-href="{{ url('projects:editing', kwargs={'proj': project.pk}) }}" class="editing-area message is-primary">
  <div class="message-header">
    <p>{{ _("editing")|capitalize }}</p>
  </div>
  <nav class="search">
    <form id="editingSearchForm" action="{{ url('projects:recorded_search', kwargs={'proj': project.pk }) }}" method="GET">
      <div class="field has-addons">
        <p class="control">
          <span class="select is-small">
            <select name="scope">
              <option value="-1">All annotations</option>
              <option value="-2">Annotation No.</option>
              <option value="-3">Flagged</option>
              <option value="0">Text</option>
              {% for m in project.input_markers %}
                <option value="{{m.pk}}">{{ m.name }}</option>
              {% endfor %}
            </select>
          </span>
        </p>
        <p class="control">
          <span class="select is-small">
            <select name="search_type">
              <option value="phr">Phrase</option>
              <option value="int">Keywords</option>
              <option value="web">Web-like</option>
            </select>
          </span>
        </p>
        <div class="control is-expanded">
          <input class="input is-small" type="text" placeholder="What do you want to search for?" name="query">
        </div>
        <div class="control">
          <input type="submit" class="button is-info is-small" value="Search">
        </div>
      </div>
    </form>
  </nav>
  <main>
    {% include 'partials/components/areas/_editing_body.html' %}
  </main>
</article>
