<article id="editingBoard" data-mode="editing" data-url="{{ url('projects:get_batch', kwargs={'proj': project.pk}) }}" data-flag-url="{{ url('projects:flag_batch', kwargs={'proj': project.pk}) }}" data-href="{{ url('projects:editing', kwargs={'proj': project.pk}) }}" class="editing-area message is-primary">
  <div class="message-header">
    <p>{{ _("editing")|capitalize }}</p>
  </div>
  <nav class="search">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title is-size-7">Search settings</p>
        <a href="#searchSettings" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div id="searchSettings" class="is-collapsible" aria-expanded="true">
        <div class="card-content">
          <form id="editingSearchForm" action="{{ url('projects:recorded_search', kwargs={'proj': project.pk }) }}" method="GET">
            {% include 'partials/components/areas/_editing_search_clause.html' %}
            <div class="control">
              <input type="submit" class="button is-info is-small" value="Search">
              <a id="addSearchClause" class="button is-warning is-small">Add AND clause</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <main>
    {% include 'partials/components/areas/_editing_body.html' %}
  </main>
  <div id="editingSearchClauseTemplate" class='is-hidden'>
    {% with has_remove=True %}
      {% include 'partials/components/areas/_editing_search_clause.html' %}
    {% endwith %}
  </div>
</article>
