<nav class="navbar has-shadow has-bottom-border is-dark is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/textinator" class='navbar-item logo'>Textinator</a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainMenu" class="navbar-menu">
    <div class="navbar-start">
      {% if user_projects or user.is_staff %}
        <a class="navbar-item{% if request.path == url('projects:index') and request.GET.n == 'mp' %} is-active{% endif %}" href="{{ url('projects:index') }}?n=mp">
          <span class="icon is-small"><i class="fas fa-project-diagram" aria-hidden="true"></i></span>
          <span>{{ _("my projects")|capitalize }}</span>
        </a>
      {% endif %}

      <a class="navbar-item{% if request.path == url('projects:index') and request.GET.n == 'o' %} is-active{% endif %}" href="{{ url('projects:index') }}?n=o">
        <span class="icon is-small"><i class="fas fa-trophy" aria-hidden="true"></i></span>
        <span>{{ _("open tasks")|capitalize }}</span>
      </a>

      <a class="navbar-item{% if request.path == url('projects:index') and request.GET.n == 'p' %} is-active{% endif %}" href="{{ url('projects:index') }}?n=p">
        <span class="icon is-small"><i class="fas fa-medal" aria-hidden="true"></i></span>
        <span>{{ _("my tasks")|capitalize }}</span>
      </a>

      {% if recently_shared or shared_before %}
        <a class="navbar-item{% if request.path == url('projects:index') and request.GET.n == 'sp' %} is-active{% endif %}" href="{{ url('projects:index') }}?n=sp">
          <span class="icon is-small"><i class="fas fa-users" aria-hidden="true"></i></span>
          <span>{{ _("shared projects")|capitalize }}</span>

          &nbsp;&nbsp;<span id="newShared" class="tag is-danger is-normal is-rounded {% if recently_shared|length <= 0 %}is-hidden{% endif %}">
            {{recently_shared|length}}
          </span>
        </a>
      {% endif %}

      <a class="navbar-item" href="{{ url('survey-list') }}">
        <span class="icon is-small"><i class="fas fa-list-alt" aria-hidden="true"></i></span>
        <span>{{ _("surveys")|capitalize }}</span>
      </a>
    </div>
      

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-small">
            {% if user.is_superuser %}
              <i class="fas fa-user-shield" aria-hidden="true"></i>
            {% elif user.is_staff %}
              <i class="fas fa-user-cog" aria-hidden="true"></i>
            {% else %}
              <i class="fas fa-user" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>{{ _("profile")|capitalize }}</span>
        </a>

        <div class="navbar-dropdown is-right">
          <a href="{{ url('users:textinator_settings') }}" class='navbar-item'>
            <span class="icon is-small"><i class="fas fa-sliders-h"></i></span>
            <span>{{ _("settings")|capitalize }}</span>
          </a>
          {% if project and (project.author == user or project.shared_with(user) or project.has_participant(user)) %}
            <a href="{{ url('projects:data_explorer', kwargs={'proj': project.pk}) }}" class='admin navbar-item'>
              <span class="icon is-small"><i class="fas fa-chart-bar"></i></span>
              <span>{{ _("data explorer")|capitalize }}</span>
            </a>
          {% endif %}
          {% if user.is_staff %}
            {% if project and user.has_perm('projects.view_project') %}
            <a href="{{ url('admin:projects_project_change', kwargs={'object_id': project.id}) }}" class='admin navbar-item'>
            {% else %}
            <a href="{{ url('admin:index') }}" class='admin navbar-item'>
            {% endif %}
              <span class="icon is-small"><i class="fas fa-cogs"></i></span>
              <span>{{ _("admin")|capitalize }}</span>
            </a>
          {% endif %}
          {% if user.groups.filter(name__startswith='translators').exists() or user.is_superuser %}
            <a href="{{ url('rosetta-old-home-redirect') }}" class='admin navbar-item'>
              <span class="icon is-small"><i class="fas fa-language"></i></span>
              <span>{{ _("translation")|capitalize }}</span>
            </a>
          {% endif %}
          <hr class="navbar-divider">
          <a href="{{ url('logout') }}" class="navbar-item">
            <span class="icon is-small"><i class="fas fa-sign-out-alt"></i></span>
            <span>{{ _("logout")|capitalize }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>