{% if open_projects %}
  <div class="open-projects masonry-grid">
    {% for project in open_projects %}
      {% with can_leave=True, can_view=False, project_type='o' %}
        {% include 'partials/_project.html' %}
      {% endwith %}
    {% endfor %}
  </div>
{% else %}
  <article class="message is-info">
    <div class="message-body">
      <p>{{ _("Currently there are no more active open tasks!") }}</p>
      <!-- <p>Click <a class='intro-button'>here</a> if you want an introduction to the website</p> -->
    </div>
  </article>
{% endif %}