{% if participations %}
  <div class="masonry-grid">
    {% for project in participations %}
      {% with can_leave=True, can_view=True, project_type='p' %}
        {% include 'partials/_project.html' %}
      {% endwith %}
    {% endfor %}
  </div>
{% else %}
  <article class="message is-info">
    <div class="message-body">
      <p>{{_("Thank you for joining Textinator! You don't have any tasks yet, but you can join to one of the open tasks in the respective tab") }}</p>
      <!-- <p>Click <a class='intro-button'>here</a> if you want an introduction to the website</p> -->
    </div>
  </article>
{% endif %}