{% if participations %}
  <div class="participations tile is-ancestor">
    {% for project in participations %}
      <div class="tile is-parent is-vertical is-3">
        <div data-link="{{ url('projects:detail', kwargs={'pk': project.id}) }}" class="is-child notification has-even-padding is-link tile">
          <div class="content">
            <p class="title">{{project.title}}</p>
            <div class="content has-text-justified">{{project.short_description}}</div>
            <div class="buttons columns">
              <div class="column">
                <a href="{{ url('projects:detail', kwargs={'pk': project.id}) }}" class="button is-link is-inverted is-outlined is-fullwidth">View</a>  
              </div>
              <div class="column">
                <form class='join form' method="POST" action="{{ url('projects:join_or_leave', kwargs={'proj': project.id}) }}">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <input type="hidden" name="n" value="p">
                  <input class="submit button is-fullwidth is-link is-inverted is-outlined" type="submit" value="Leave"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <article class="message is-info">
    <div class="message-body">
      <p>Hello, {{user.first_name or user.username}}! Thank you for joining Textinator! You don't have any tasks yet, but you can join to one of the open tasks in the respective tab</p>
      <!-- <p>Click <a class='intro-button'>here</a> if you want an introduction to the website</p> -->
    </div>
  </article>
{% endif %}