<div data-id="accordion">
  <h3>{{ _("quick links")|capitalize }}</h3>
  <div class="content">
    <div class="buttons">
      <a class="button is-text" href="{{ url('admin:projects_datasource_add') }}">{{_("create a new data source")|capitalize }}</a></li>
      <a class="button is-text" href="{{ url('admin:projects_project_changelist') }}">{{_("my projects (admin)")|capitalize }}</a></li>
      <a class="button is-text" href="{{ url('admin:projects_project_add') }}">{{_("create a new project")|capitalize }}</a></li>
    </div>
  </div>
</div>
