<div class="shared-projects">
  {% if recently_shared %}
    <h4 class="subtitle is-uppercase has-text-weight-bold">{{_("recently shared")|capitalize}}</h4>
    <div class="masonry-grid">
      {% for project in recently_shared %}
        {% with can_leave=True, can_view=False, show_new=True %}
          {% include 'partials/_project.html' %}
        {% endwith %}
      {% endfor %}
    </div>
    <hr>
    <h4 class="subtitle is-uppercase has-text-weight-bold">{{_("previously shared")|capitalize}}</h4>
  {% endif %}

  {% if shared_before %}
    <div class="masonry-grid">
      {% for project in shared_before %}
        {% with can_leave=True, can_view=True %}
          {% include 'partials/_project.html' %}
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
</div>