<div class="container">
  <h1 class="title has-text-centered"><i class="mdi mdi-36px mdi-flip-h mdi-party-popper"></i>{{ _("Welcome to Textinator!") }}<i class="mdi mdi-36px mdi-party-popper"></i></h1>

  {% if user.is_superuser %}
    <div class="content">
      {{ _("Thank you for choosing Textinator as your annotation tool! We've got a bunch of resources to get you started:") }}
      <ul>
        <li>{{ _("if you prefer reading, here is the {}").format('<a href="https://textinator.readthedocs.io/en/latest/">{}</a>'.format(_("documentation"))|safe) }} </li>
        <li>{{ _("if you prefer watching, here is the {}").format('<a href="https://www.youtube.com/channel/UCUVbyJJFIUwfl129FGhPGJw">{}</a>'.format(_("admin guide on YouTube"))|safe ) }}</li>
        <li>{{ _("if you prefer exploring on your own, just go for it!") }} <i class="far fa-smile-wink"></i></li>
      </ul>
      {{ _("On top of that, if you want to help developing Textinator further (which we would be immensely happy about!), here is the {}").format('<a href="https://github.com/dkalpakchi/Textinator">{}</a>'.format(_("our GitHub repository"))|safe) }}.
    </div>
    {% include 'partials/_quick_links.html' %}
    {% include 'partials/_text_language_switcher.html' %}
  {% elif user.is_staff %}
    <div class="content">
      {{ _("Thank you for choosing Textinator as your annotation tool! We've got a bunch of resources to get you started:") }}
      <ul>
        <li>{{ _("if you prefer reading, here is the {}").format('<a href="https://textinator.readthedocs.io/en/latest/">{}</a>'.format(_("documentation"))|safe) }}</li>
        <li>{{ _("if you prefer watching, here is the {}").format('<a href="https://www.youtube.com/channel/UCUVbyJJFIUwfl129FGhPGJw">{}</a>'.format(_("project manager guide on YouTube"))|safe) }} </li>
        <li>{{ _("if you prefer exploring on your own, just go for it!") }} <i class="far fa-smile-wink"></i></li>
      </ul>
    </div>
    {% include 'partials/_quick_links.html' %}
    {% include 'partials/_text_language_switcher.html' %}
  {% elif user.groups.filter(name__startswith='translators').exists() %}
    <div class="content">
      <p>Thank you very much for joining our team of translators, we are very happy to have you on board! Your contribution will help Textinator to get localized better and faster. In fact, this message is the only one that will <u>not</u> need any translations. Currently, we do all our translations from English, so all translators are required to know English, so there's no need to localize this message, so less work for you <i class="far fa-smile-wink"></i></p>

      <p>Please contact your local administrator and let them know your username (<b>{{user.username}}</b>), as well as the list of languages for which you are willing to help providing translations.</p>
    </div>
  {% else %}
    <div class="content">
      <p>{{ _("Thank you for joining Textinator! Your annotation or evaluation efforts will most certainly help in advancing Natural Language Processing (NLP) beyond its current limits.") }}</p>

      <p>
        {{ _("If you are here to help <u>annotating</u>, here are some tips:") }}
        <ul>
          <li>{{ _("If you are unfamiliar with Textinator or with NLP annotations in general, we have prepared {} to help you in starting this journey").format('<a href="https://www.youtube.com/channel/UCUVbyJJFIUwfl129FGhPGJw">{}</a>'.format(_("a couple of short YouTube videos"))|safe) }} <i class="far fa-smile"></i>.</li>
          <li>{{ _("If you have signed up to take part in a specific annotation effort, please click on the {} in the menu above. If you don't see your project there, please contact your project manager.").format('<a href="{}?n=p">{}</a>'.format(
            url('projects:index'), _('"My Tasks" tab'))|safe) }}</li>
          <li>{{ _("If you have signed up out of curiosity and willingness to help, huge thank you! We are very grateful and honored to have you on board! Please click on the {} and see if we currently have any annotation efforts, open to general public.").format('<a href="{}?n=o">{}</a>'.format(url('projects:index'), _('"Open Tasks" tab'))|safe)}} {{ _("We urge you to read the instructions carefully to check that you understand them and are indeed eligible to take part. Please contact the project responsible if any questions arise.") }}</li>
        </ul>
      </p>

      <p>
        {{ _("If you are here to help <u>evaluating</u>, here are some other tips:") }}
        <ul>
          <li>{{ _("If you have signed up to take part in a specific evaluation effort, please click on the {} and see if your survey is ready If you don't see your survey, please contact your project manager.").format('<a href="{}">{}</a>'.format(
            url('survey-list'), _('"Survey" tab') )|safe) }}</li>
          <li>{{ _("If you have signed up out of curiosity, please click on the {} and see if there are any surveys open to general public.").format('<a href="{}">{}</a>'.format(url('survey-list'), _('"Survey" tab') )|safe) }} {{ _("We urge you to read the instructions carefully to check that you understand them and are indeed eligible to take part. Please contact the project responsible if any questions arise.") }}</li>
        </ul>
      </p>
    </div>

    {% include 'partials/_text_language_switcher.html' %}
  {% endif %}
  
</div>
