{% if not dp_info.is_empty %}
  <article id="actionsArea" class="message is-primary">
    <div class="message-header">
      <p>{{ _("actions")|capitalize }}</p>
    </div>
    <div class="message-body">
      <form id="inputForm" action="{{ url('projects:record_datapoint', kwargs={'proj': project.pk}) }}">
        {{ csrf_input }}
        <input type="hidden" name="mode" value="r">
        <div class="buttons">
          <a class='submit button'>
            <span class="icon"><i class="fas fa-paper-plane"></i></span>
            <span>{{ _("submit")|capitalize }}</span>
          </a>
          {# <a id="undoLast" data-url="{{ url('projects:undo_last', kwargs={'proj': project.pk}) }}" class='button'><span class="icon"><i class="fas fa-undo"></i></span><span>{{ _("undo last")|capitalize }}</span></a> #}
          <a href="{{ url('projects:new_article', kwargs={'proj': project.pk}) }}" class="button" id="getNewArticle">
            <span class="icon"><i class="fas fa-file-alt"></i></span>
            <span>{{ _("new text")|capitalize }}</span>
          </a>
          <a id="editingModeButton" href="{{ url('projects:editing', kwargs={'proj': project.pk}) }}" class="button" data-mode="o">
            <span class="icon"><i class="fas fa-edit"></i></span>
            <span>{{ _("editor")|capitalize }}</span>
          </a>
          {% if dp_info.source_spec and dp_info.source_spec.get('meta') %}
            <a href="{{ url('projects:project_meta', kwargs={'proj': dp_info.project_id})}}" target="_blank" id="meta" class="button">
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
              <span>Open metadata</span>
            </a>
          {% endif %}
          <a id="deselectAllMarkers" class="no-decoration button">
            Deselect all markers
          </a>
        </div>
      </form>
    </div>
  </article>
{% endif %}