{% for text, meta in dp_info.text.iterator() %}
  <article class="message{% if 'username' in meta and text %} is-{{ cmap[meta['username']] }}{% else %} is-warning{% endif %}">
    <div class="message-body utterance">
      <button class="button is-tiny is-outlined {% if 'username' in meta and text %} is-{{ cmap[meta['username']] }}{% else %} is-warning{% endif %}" data-meta>
        <span class="icon is-tiny">
          <script type="application/json">
            {{meta|tojson}}
          </script>
          <i class="fas fa-info"></i>
        </span>
      </button>
      {% if text %}
        <i>{{meta['username']}}</i>: {{text.strip()}}
      {% else %}
        <i>{{meta['username']}}: No message</i>
      {% endif %}
    </div>
  </article>
{% endfor %}
