<article id="editingBoard" data-url="{{ url('projects:get_batch') }}" data-flag-url="{{ url('projects:flag_batch', kwargs={'proj': project.pk}) }}" class="editing-area message is-primary">
  <div class="message-header">
    <p>{{ _("editing")|capitalize }}</p>
  </div>
  <div class="message-body">
    {% set current_page = paginator.page(page) %}
    <ul>
      {% for batch in current_page %}
        <li data-mode='e' data-id="{{batch.uuid}}" data-flagged="{{batch.is_flagged|bool2str}}">
          <div class="button is-small is-fullwidth {% if batch.is_flagged %}is-danger{% else %}is-link{% endif %} is-outlined" data-purpose='s'>
            {% if project.editing_title_regex %}
              <span>{{ batch.get_title(regex=project.editing_title_regex) }}</span>
            {% else %}
              <span>{{ batch.get_title() }}</span>
            {% endif %}
            <span>
              {{batch.labels.count()}} span(s) &nbsp; | &nbsp; {% if is_admin %}{{batch.user.username}}, {% endif %}{{ batch.dt_created|naturaltime }}
            </span>
          </div>
          <div class="button is-small is-danger is-outlined{% if batch.is_flagged %} is-active{% endif %}" data-purpose='f'>
            <span class="icon is-small">
              <i class="fas fa-flag"></i>
            </span>
            {{csrf_input}}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if paginator.num_pages > 1 %}
    <nav class="pagination is-small is-rounded" role="navigation" aria-label="pagination">
      {% if current_page.has_previous() %}
        <a class="button pagination-previous" data-page="{{page-1}}">Previous</a>
      {% endif %}
      {% if current_page.has_next() %}
        <a class="button pagination-next" data-page="{{page+1}}">Next</a>
      {% endif %}
      <ul class="pagination-list">
        {% set min_page = [page - 2, 2]|max %}
        {% set max_page = [page + 2, paginator.num_pages]|min %}
        <li>
          <a class="button pagination-link{% if page == 1 %} is-current{% endif %}" data-page="1">1</a>
        </li>
        {% if min_page > 2 %}
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
        {% endif %}
        {% for i in range(min_page, max_page + 1) %}
          <li>
            <a class="button pagination-link{% if i == page %} is-current{% endif %}" data-page="{{i}}">{{i}}</a>
          </li>
        {% endfor %}
        {% if max_page < paginator.num_pages %}
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a class="button pagination-link" data-page="{{paginator.num_pages}}">{{paginator.num_pages}}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</article>
