<article id="textArea" class="{% if not dp_info.is_empty and not dp_info.no_data %}text {% endif %}message">
  <div class="message-header">
    <span class="is-group">
      <span>
        <p>
          {{ _("text")|capitalize }}{% if project.show_datasource_identifiers and dp_info.source_name %}
          <span id="dpName">({{dp_info.source_name}})</span>{% endif %}
        </p>
      </span>
      <span id="textLabels"></span>
    </span>

    <a id="flagTextButton" class="no-decoration is-pulled-right">
      <span class="icon is-small">
        <i class="fas fa-flag"></i>
      </span>
    </a>
  </div>
  {% set all_text_markers=project.markervariant_set.filter(anno_type='free-text').count() == project.markervariant_set.count() %}
  <div class="content message-body">
    <div id="selector" class="selector element{% if all_text_markers %} broad{% endif %}" data-s="{% if dp_info.source_id is not none and not dp_info.is_empty %}{{dp_info.source_id}}{% endif %}" data-dp="{% if dp_info.id is not none and not dp_info.is_empty %}{{dp_info.id}}{% endif %}" data-f="{{dp_info.is_empty}}">
      {% if dp_info.no_data %}
        {% include 'partials/_no_data.html' %}
      {% elif dp_info.is_empty %}
        {% include 'partials/_great_job.html' %}
      {% else %}
        {% if dp_info.source_formatting == 'md' %}
          {{text|to_markdown}}
        {% elif dp_info.source_formatting == 'ft' %}
          {{text|to_formatted_text|safe}}
        {% elif dp_info.is_dialogue %}
          {{text|safe}}
        {% else %}
          {{text|wrap_paragraph|safe}}
        {% endif %}
      {% endif %}
    </div>
  </div>
</article>
