{% if marker.choices %}
  <div class="control is-marker-w90{% if marker.max_choice_len > 35 %} vertical-radio{% endif %}">
    <p class="has-text-weight-bold">{{marker.name}}</p>
    {% for c in marker.choices %}
      {% if c|is_list %}
        {% set outer_loop = loop %}
        <label class="radio outer">
          <input id="{{marker.code}}_{{outer_loop.index0}}" data-for="{{marker.code}}" name="{{marker.code}}_ocat" type="radio" value="{{outer_loop.index}}">
          <div class="inner">
            {% for x in c %}
              <label class="radio" for="{{marker.code}}_{{outer_loop.index0}}_{{loop.index0}}">
                <input id="{{marker.code}}_{{outer_loop.index0}}_{{loop.index0}}" type="radio" name="{{marker.code}}" value="{{x}}" data-group="{{marker.code}}_{{outer_loop.index0}}">
                {{x}}
              </label>
            {% endfor %}
          </div>
        </label>
      {% else %}
        <label class="radio" for="{{marker.code}}_{{loop.index0}}">
          <input id="{{marker.code}}_{{loop.index0}}" type="radio" name="{{marker.code}}" value="{{c}}">
          {{c}}
        </label>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
