{% if project.free_markers.count() > 0 %}
  <article class="markers message" data-mmpi="{{project.max_markers_per_input or 'Infinity'}}" data-select="{{project.allow_selecting_labels|bool2str}}" data-disable="{{project.disable_submitted_labels|bool2str}}">
    <div class="message-header">
      <p>{{ _("markers")|capitalize }}</p>
    </div>
    <div class="message-body">
      {% set grouped_markers = project.free_markers|groupby('anno_type') %}
      {% for key, group in grouped_markers %}
        <div class="field is-grouped is-grouped-multiline">
          {% for marker in group %}
            {{marker|display_marker}}
          {% endfor %}
        </div>
        {% if not loop.last %}
          <div class="divider"></div>
        {% endif %}
      {% endfor %}
    </div>
  </article>
{% endif %}

{% if project.marker_groups.count() > 0 %}
  <article class="marker groups message" data-mmpi="{{project.max_markers_per_input or 'Infinity'}}" data-select="{{project.allow_selecting_labels|bool2str}}" data-disable="{{project.disable_submitted_labels|bool2str}}">
    <div class="message-header">
      <p>{{ _("marker groups")|capitalize }}</p>
    </div>
    <div class="message-body">
      <form id="markerGroups" data-toggle="formcache">
        <ul id="sortable">
          {% for unit, markers in project.marker_groups|groupby("unit") %}
            {% include 'partials/components/controls/markers/_group.html' %}
          {% endfor %}
        </ul>
      </form>
    </div>
  </article>
{% endif %}