<article class="relations message">
  <div class="message-header">
    <p>Relations</p>
  </div>
  <div class="message-body">
    <div class="field is-grouped is-grouped-multiline">
      {% for relation in task_relations %}
        <div class="control">
          {{relation|display_relation}}
        </div>
      {% endfor %}
      {% for relation in project.relation_set.all() %}
        <div class="control">
          {{relation|display_relation}}
        </div>
      {% endfor %}
    </div>
  </div>
</article>