<div class="columns">
  <div class="column is-half">
    {% include 'partials/components/areas/text.html' %}
  </div>
  <div class="column is-half">
    {% include 'partials/components/areas/reminders.html' %}
    {% include 'partials/components/areas/marked_relations.html' %}
    {% include 'partials/components/areas/markers.html' %}
    {% include 'partials/components/areas/relations.html' %}
    {% include 'partials/components/areas/actions.html' %}
  </div>
</div>

{% include 'partials/components/modals/guidelines.html' %}
{% include 'partials/components/modals/flag.html' %}
