{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Textinator</title>
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base_style.css' %}">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/labeler.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/letter_avatar.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
