<li data-mode='e' data-id="{{batch.uuid}}" data-flagged="{{batch.is_flagged|bool2str}}">
  <div class="button is-small is-fullwidth {% if batch.is_flagged %}is-danger{% else %}{% if mode == 'review' %}is-dark{% else %}is-link{% endif %}{% endif %} is-outlined{% if batch.uuid == current_uuid %} is-hovered{% endif %}" data-purpose='s'>
    {% if scope == "revision" %}
      {% set title=batch.total_revision_changes %}
    {% else %}
      {% if project.editing_title_regex %}
        {% set title=batch.get_title(regex=project.editing_title_regex) %}
      {% else %}
        {% set title=batch.get_title() %}
      {% endif %}
    {% endif %}
    <span class="tooltip">
      <span class="tooltiptext">{{title}}</span>

      {% if batch.revision_of %}
        <i class="fas fa-tools"></i>
      {% endif %}

      {% if mode == "editing" and scope != "revision" %}
        {{batch.index}}.
      {% endif %}
      {{title|truncate(40)}}
    </span>
    <span>
      {{batch.labels.count()}} span(s) &nbsp; | &nbsp; {% if is_admin %}{{batch.user.username}}, {% endif %}{{ batch.dt_created|naturaltime }}
    </span>
  </div>
  <div class="button is-small is-danger is-outlined{% if batch.is_flagged %} is-active{% endif %}" data-purpose='f'>
    <span class="icon is-small">
      <i class="fas fa-flag"></i>
    </span>
    {{csrf_input}}
  </div>
</li>
