body[is-inside] {
  overflow: hidden;
}

body .container:first-of-type {
  margin-top: 1em;
}

@font-face {
  font-family: 'ROBOTECH GP';
  font-style: normal;
  font-weight: normal;
  src: local('ROBOTECH GP'), url('/static/styles/webfonts/ROBOTECH GP.ttf');
}

.no-margin {
  margin: 0 !important;
}

.margin-center {
  margin: 0 auto;
}

.pre-formatted-text {
  white-space: pre-wrap !important;
}

.main-gradient {
  background: radial-gradient(#b2b2b2, #6a6a6a);
}

.participations .tile.is-child:hover,
.open-projects .tile.is-child:hover,
.my-projects .tile.is-child:hover,
.shared-projects .tile.is-child:hover {
  cursor: pointer;
}

.project.card {
  background: #17a2b8;
  color: white;
  max-width: 450px;
  width: 100%;
}

.project.card .card-header .card-header-title,
.project.card a {
  color: white;
}

.project.card .card-footer-item {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.project.card .card-content {
  padding:  1rem 1.5rem
}

.project.card table tr td:first-child {
  width: 1em;
}

.text-language-switcher form {
  width: fit-content;
  width: -webkit-fit-content;
}

.text-language-switcher span {
  color: gray;
}

.text-language-switcher form, .text-language-switcher span {
  float: left;
}

.text-language-switcher input[type="submit"] {
  background: none;
  border: none;
  font-size: 1em;
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}

pre {
  margin: 20px 0;
  padding: 20px;
  background: #fafafa;
}

.tile-footer {
  background-color: transparent;
  border-top: 1px solid #dbdbdb;
  align-items: stretch;
  display: flex;
}

.tile-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: .75rem;
}

.notification.has-even-padding {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.tabs li.is-pulled-right {
  margin-left: auto;
}

.tabs li.is-pulled-right a {
  display: inline-block;
}

.logo {
  font-family: 'ROBOTECH GP';
  font-size: 5em;
  letter-spacing: 2px;
  line-height: 0.4em;
  margin-bottom: 0.5em;
}

.logo-spaced {
  font-family: 'ROBOTECH GP';
  font-size: 1.5em;
  letter-spacing: 20px;
}

.logo a {
  border-bottom: none;
  padding: 0;
}

.small.logo {
  font-size: 1.5em;
}

.navbar .logo {
  font-size: 2em;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 0.17em;
}

.navbar.has-bottom-border {
  border-bottom: 1px solid #dbdbdb;
}

.navbar .icon:first-child {
  margin-right: 0.5em;
}

.navbar .icon:last-child {
  margin-left: 0.5em;
}

.is-flex.is-vcentered {
  align-items: center;
}

.profile.title {
  margin-bottom: 5px;
}

.profile.hero {
  margin-top: 5px;
  margin-bottom: 30px;
}

.textinator {
  padding: 0px 1em;
}

.guidelines.modal .modal-content {
  max-width: 1200px;
  width: 80%;
}

.guidelines.card {
  height: 100%;
}

.guidelines.card .card-content .content:first-child {
  max-height: 510px;
  overflow-y: auto;
  text-align: justify;
}

.participations, .open-projects, .my-projects, .shared-projects {
  flex-wrap: wrap;
}

.participations [data-link] {
  border: 2px solid #3273dc;
}

.participations [data-link]:hover {
  border: 2px solid black;
}


/* QTimer */
.countdown {
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  font-size: 1.3em;
  position: relative;
  margin: auto;
  height: 160px;
  width: 160px;
  text-align: center;
}

.countdown-number {
  color: #333;
  font-size: 2em;
  display: inline-block;
  line-height: 160px;
}

.countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 160px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown svg circle {
  stroke-dasharray: 390px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: rgba(0, 0, 0, 0.1);
  fill: none;
}

.countdown svg circle:last-child {
  stroke: #333;
}

.countdown-animate {
  animation: countdown 60s linear forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 390px;
  }
}


textarea {
  resize: none;
}

.text .message-body {
  height: 50vh;
  overflow-y: scroll;
  text-align: justify;
}

.text .message-body.broad {
  height: 85vh;
}

.achievements {
  height: 100%;
}

.achievements .message-body {
  height: 100%;
  max-height: 830px;
  overflow-y: scroll;
}

.marker.tags:hover, .relation.tags:hover {
  cursor: pointer;
}

.marker.tags input[type="checkbox"] {
  margin-top: 0.25em;
}

.tt-level {
  text-align: center;
}

.tt-level .tt-header {
  font-weight: bold;
  font-size: 3em;
}

.tt-level .tt-title {
  font-size: 2em;
}

.selector.element span.tag {
  border: 1px solid white;
}

.selector.element span.tag:hover {
  cursor: pointer;
}

.selector.element span.tag.active {
  border: 1px solid black;
  cursor: pointer;
}

.selector.element span.tag > span.tag {
  margin: 0em 0.5em;
}

.selector.element p:last-child {
  padding-bottom: 1em;
}

.tag.is-grey {
  background-color: #696969;
  color: white;
}

.tag.arrow {
  display: table-cell;
  font-weight: bold;
}

.tt-charts-container {
  margin-top: -0.07em !important;
}

.tag.is-disabled {
  opacity: 0.4;
}

.tag.is-disabled:hover {
  border: 0px !important;
  cursor: default !important;
}

.marked.relations {
  height: 50vh;
}

.marked.relations .message-body {
  height: 84%;
}

.marked.relations.message, #relations {
  height: 100%;
}

#relations {
  max-height: 400px;
  overflow-y: scroll;
}

.small.container {
  max-width: 700px;
  text-align: justify;
}

.hidden {
  display: none !important;
}

.tabs span.text {
  align-items: center;
  color: #4a4a4a;
  display: inline-block;
  justify-content: center;
  margin-bottom: -1px;
  padding: .5em 1em;
  vertical-align: top;
}

.mce-btn.mce-open button {
  padding-bottom: 3px;
}

.mce-checkbox .mce-label {
  vertical-align: top !important;
}

.mce-window-head .mce-close {
  z-index: 100;
}

.selector .title {
  margin-top: 1em;
}

.selector > .title {
  margin-top: 0;
}

.button-scrolling {
  position: relative;
}

.scrolling.button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.7;
  top: auto;
  width: 100%;
}

.is-grey {
  background: rgba(0, 0, 0, 0.1)
}

.explorer {
  max-width: 1366px;
  margin: 0 auto;
}

.explorer .container:first-child {
  margin-bottom: 1em;
}

.explorer .datapoint {
  padding-bottom: 3em;
}

.explorer .datapoint .title {
  margin-bottom: 0.75rem;
}

.explorer .datapoint ul {
  counter-reset: list;
  padding-bottom: 0.5em;
}

.explorer .datapoint ul > li {
  list-style-position: inside;
  list-style-type: none;
}

.explorer .datapoint ul > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}

.explorer .datapoint.relation ul > li:before {
  content: counter(list, digits) ") ";
  counter-increment: list; 
}

.reminders ul, .reminders ol {
  margin-left: 1em;
}

.survey-progress-value {
  position: absolute;
  left: 50%;
  font-size: 12px;
}

.survey-table label {
  margin-right: 1em;
}

label.error {
  vertical-align: top;
}

.no-decoration {
  text-decoration: none !important;
}

.range-wrap {
  position: relative;
}

.range {
  width: 100%;
}

.bubble {
  background: rgb(50, 152, 220, 0.7);
  color: white;
  padding: 4px 8px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  top: 80%;
  font-size: 0.9em;
  transform: translateX(-50%);
}

#sortable {
  list-style-type: none;
}
#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
}

#sortable li span:not(.tag) {
  position: absolute;
  top: 45%;
  left: 7px;
}

.marker.groups.message .message-body {
  height: 50vh;
  overflow-y: scroll;
}

/**
 * Bulma extensions
 */
.tag.is-warndark {
  background-color: #946c00;
  color: #fff;
}

.tag.is-pink {
  background-color: #ff7373;
  color: #fff;
}

.tag.is-orange {
  background-color: #E9A72F;
  color: #fff;
}

.control.has-tag-left .select select {
    padding-left: 7em;
}

.control.has-tag-left .tag, .control.has-tag-right .tag {
    pointer-events: none;
    position: absolute;
    left: 7px;
    top: 7px;
    width: fit-content;
    z-index: 4;
}

.control.has-tag-left textarea {
  padding-top: 35px !important;
}

input.help.is-danger {
  font-size: 1rem;
}

label.help.is-danger {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.button.is-hovering {
  width: 40px;
  -webkit-justify-content: left;
          justify-content: left;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.button.is-hovering .icon:first-child:not(:last-child) {
  margin-left: calc(-.3em - 1px);
}

.button.is-hovering .icon:first-child:not(:last-child):hover {
  margin-left: calc(-.5em - 1px);
}

.button.is-hovering:hover {
  width: 100% !important;
}

.is-group {
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.is-group span {
  margin-right: 5px;
}

.is-group > span:first-child {
  margin-right: 15px;
}

.has-text-orange {
  color: #ff8000;
}

.has-text-darkyellow {
  color: #F6BE00;
}

.mdi.mdi-flip-h:before {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/** 
 * Other library fixes
 */

/* Fix integration of django-nested-admin with jazzmin */
.nested.card-header, .nested.card-body {
  border: 1px solid rgba(0,0,0,.125)
}

.is-marker-fullwidth {
  width: 100%;
}

.is-marker-w80 {
  width: 80%;
}

.masonry-grid-item {
  margin-bottom: 1em;
}