@font-face {
  font-family: 'Terminator Real NFI';
  font-style: normal;
  font-weight: normal;
  src: local('Terminator Real NFI'), url('/textinator/static/styles/webfonts/terminator_real_nfi.woff') format('woff');
}
.no-margin {
  margin: 0 !important;
}

.participations .tile.is-child:hover,
.my-projects .tile.is-child:hover,
.shared-projects .tile.is-child:hover {
  cursor: pointer;
}

.project.card {
  max-width: 400px;
}

#tab-content div[data-content] {
  display: none;
}

pre {
  margin: 20px 0;
  padding: 20px;
  background: #fafafa;
}

#tab-content div[data-content].is-active {
  display: block;
}

.tile-footer {
  background-color: transparent;
  border-top: 1px solid #dbdbdb;
  align-items: stretch;
  display: flex;
}

.tile-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: .75rem;
}

.notification.has-even-padding {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.tabs li.is-pulled-right {
  margin-left: auto;
}

.tabs li.is-pulled-right a {
  display: inline-block;
}

.logo {
  font-family: 'Terminator Real NFI';
  font-size: 2.5em;
}

.small.logo {
  font-size: 1.5em;
}

.tabs .logo {
  font-size: 1em;
  padding-left: 50px;
  padding-right: 50px;
}

.is-flex.is-vcentered {
  align-items: center;
}

.profile.title {
  margin-bottom: 5px;
}

.profile.hero {
  margin-top: 5px;
  margin-bottom: 30px;
}

.textinator {
  padding: 0px 1em;
}

.guidelines.card {
  height: 100%;
}

.guidelines.card .card-content .content:first-child {
  max-height: 510px;
  overflow-y: auto;
}

.participations, .open-projects, .my-projects, .shared-projects {
  flex-wrap: wrap;
}

.join.form {
  margin-top: auto;
}


/* QTimer */
.countdown {
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  font-size: 1.3em;
  position: relative;
  margin: auto;
  height: 160px;
  width: 160px;
  text-align: center;
}

.countdown-number {
  color: #333;
  font-size: 2em;
  display: inline-block;
  line-height: 160px;
}

.countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 160px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown svg circle {
  stroke-dasharray: 390px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: rgba(0, 0, 0, 0.1);
  fill: none;
}

.countdown svg circle:last-child {
  stroke: #333;
}

.countdown-animate {
  animation: countdown 60s linear forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 390px;
  }
}


textarea {
  resize: none;
}

.text .message-body {
  height: 475px;
  overflow-y: scroll;
  text-align: justify;
}

.achievements {
  height: 100%;
}

.achievements .message-body {
  height: 100%;
  max-height: 830px;
  overflow-y: scroll;
}

.marker.tags:hover, .relation.tags:hover {
  cursor: pointer;
}

.tt-level {
  text-align: center;
}

.tt-level .tt-header {
  font-weight: bold;
  font-size: 3em;
}

.tt-level .tt-title {
  font-size: 2em;
}

.selector.element span.tag:hover, .selector.element span.tag.active {
  border: 1px solid black;
  cursor: pointer;
}

.tag.is-grey {
  background-color: #696969;
  color: white;
}

.tag.arrow {
  display: table-cell;
  font-weight: bold;
}

.selector p {
  padding-bottom: 1em;
}

.tt-charts-container {
  margin-top: -0.07em !important;
}

.tag.is-disabled {
  opacity: 0.4;
}

.tag.is-disabled:hover {
  border: 0px !important;
  cursor: default !important;
}

.relations {
  max-height: 600px;
}

.relations .message-body {
  height: 84%;
}

.relations.message, #relations {
  height: 100%;
}

#relations {
  max-height: 400px;
}

.small.container {
  max-width: 700px;
  text-align: justify;
}

.hidden {
  display: none !important;
}

.tabs span.text {
  align-items: center;
  color: #4a4a4a;
  display: inline-block;
  justify-content: center;
  margin-bottom: -1px;
  padding: .5em 1em;
  vertical-align: top;
}

/* Redefine Graphelli styles */
.button-state-grey, button:hover, a.fb_show:hover,
a.related-lookup:hover, body.tinyMCE input[name="src"] + div a:hover,
body.tinyMCE input[name="href"] + div a:hover, input[type="button"]:hover,
a.related-lookup.m2m:hover, .grp-autocomplete-wrapper-m2m a.related-lookup:hover,
.grp-autocomplete-wrapper-fk a.related-lookup:hover, button.ui-datepicker-trigger:hover,
button.ui-timepicker-trigger:hover, button.ui-datetime-now:hover,
.grp-pulldown-container .grp-pulldown-handler, .grp-pulldown-container .grp-pulldown-content,
.grp-pulldown-container .grp-pulldown-content:hover {
  border: none;
}

.mce-btn.mce-open button {
  padding-bottom: 3px;
}

.mce-checkbox .mce-label {
  vertical-align: top !important;
}

.mce-window-head .mce-close {
  z-index: 100;
}