#flaggedCollapse .message-body,
#flaggedCollapse table {
  background-color: #feecf0;
}

.explorer.container .select,
.explorer.container select {
  width: 100%;
}

.explorer .context {
  text-align: justify !important;
}

ol li {
  margin-bottom: 1em;
}

div.alternative.tags {
  display: block;
}

div.alternative.tags span.tags {
  margin-bottom: 0.1em;
}

.context.message {
  margin-bottom: 2em;
}

span.tag:hover {
  cursor: default;
}

.loading {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: left;
  span {
    display: inline-block;
    margin: 0 -0.05em;
  }
}

.loading03 {
  span {
    margin: 0 -0.075em;
    animation: loading03 0.7s infinite alternate;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

@keyframes loading03 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
