@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
  box-sizing: border-box; }

.tt-set-size {
  font-size: 10em; }

.tt-charts-container {
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  margin: 0 auto;
  max-width: 1.2em; }
  .tt-charts-container:after {
    clear: both;
    content: '';
    display: table; }

.tt-pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative; }
  .tt-pie-wrapper:nth-child(3n + 1) {
    clear: both; }
  .tt-pie-wrapper .tt-pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0; }
    .tt-pie-wrapper .tt-pie .half-circle {
      height: 100%;
      width: 100%;
      border: 0.1em solid #3498db;
      border-radius: 50%;
      clip: rect(0, 0.5em, 1em, 0);
      left: 0;
      position: absolute;
      top: 0; }
  .tt-pie-wrapper .tt-label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.8em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em; }
    .tt-pie-wrapper .tt-label .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super; }
  .tt-pie-wrapper .tt-shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%; }
  .tt-pie-wrapper.style-2 .tt-label {
    background: none;
    color: #7f8c8d; }
    .tt-pie-wrapper.style-2 .tt-label .smaller {
      color: #bdc3c7; }
  .tt-pie-wrapper.progress-1 .tt-pie .half-circle {
    border-color: #3498DB; }
  .tt-pie-wrapper.progress-1 .tt-pie .left-side {
    transform: rotate(3.6deg); }
  .tt-pie-wrapper.progress-1 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-2 .tt-pie .half-circle {
    border-color: #3398D9; }
  .tt-pie-wrapper.progress-2 .tt-pie .left-side {
    transform: rotate(7.2deg); }
  .tt-pie-wrapper.progress-2 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-3 .tt-pie .half-circle {
    border-color: #3398D8; }
  .tt-pie-wrapper.progress-3 .tt-pie .left-side {
    transform: rotate(10.8deg); }
  .tt-pie-wrapper.progress-3 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-4 .tt-pie .half-circle {
    border-color: #3399D6; }
  .tt-pie-wrapper.progress-4 .tt-pie .left-side {
    transform: rotate(14.4deg); }
  .tt-pie-wrapper.progress-4 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-5 .tt-pie .half-circle {
    border-color: #3299D5; }
  .tt-pie-wrapper.progress-5 .tt-pie .left-side {
    transform: rotate(18deg); }
  .tt-pie-wrapper.progress-5 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-6 .tt-pie .half-circle {
    border-color: #3299D3; }
  .tt-pie-wrapper.progress-6 .tt-pie .left-side {
    transform: rotate(21.6deg); }
  .tt-pie-wrapper.progress-6 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-7 .tt-pie .half-circle {
    border-color: #329AD2; }
  .tt-pie-wrapper.progress-7 .tt-pie .left-side {
    transform: rotate(25.2deg); }
  .tt-pie-wrapper.progress-7 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-8 .tt-pie .half-circle {
    border-color: #329AD1; }
  .tt-pie-wrapper.progress-8 .tt-pie .left-side {
    transform: rotate(28.8deg); }
  .tt-pie-wrapper.progress-8 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-9 .tt-pie .half-circle {
    border-color: #319ACF; }
  .tt-pie-wrapper.progress-9 .tt-pie .left-side {
    transform: rotate(32.4deg); }
  .tt-pie-wrapper.progress-9 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-10 .tt-pie .half-circle {
    border-color: #319BCE; }
  .tt-pie-wrapper.progress-10 .tt-pie .left-side {
    transform: rotate(36deg); }
  .tt-pie-wrapper.progress-10 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-11 .tt-pie .half-circle {
    border-color: #319BCC; }
  .tt-pie-wrapper.progress-11 .tt-pie .left-side {
    transform: rotate(39.6deg); }
  .tt-pie-wrapper.progress-11 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-12 .tt-pie .half-circle {
    border-color: #319BCB; }
  .tt-pie-wrapper.progress-12 .tt-pie .left-side {
    transform: rotate(43.2deg); }
  .tt-pie-wrapper.progress-12 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-13 .tt-pie .half-circle {
    border-color: #309CCA; }
  .tt-pie-wrapper.progress-13 .tt-pie .left-side {
    transform: rotate(46.8deg); }
  .tt-pie-wrapper.progress-13 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-14 .tt-pie .half-circle {
    border-color: #309CC8; }
  .tt-pie-wrapper.progress-14 .tt-pie .left-side {
    transform: rotate(50.4deg); }
  .tt-pie-wrapper.progress-14 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-15 .tt-pie .half-circle {
    border-color: #309CC7; }
  .tt-pie-wrapper.progress-15 .tt-pie .left-side {
    transform: rotate(54deg); }
  .tt-pie-wrapper.progress-15 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-16 .tt-pie .half-circle {
    border-color: #309DC5; }
  .tt-pie-wrapper.progress-16 .tt-pie .left-side {
    transform: rotate(57.6deg); }
  .tt-pie-wrapper.progress-16 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-17 .tt-pie .half-circle {
    border-color: #2F9DC4; }
  .tt-pie-wrapper.progress-17 .tt-pie .left-side {
    transform: rotate(61.2deg); }
  .tt-pie-wrapper.progress-17 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-18 .tt-pie .half-circle {
    border-color: #2F9DC3; }
  .tt-pie-wrapper.progress-18 .tt-pie .left-side {
    transform: rotate(64.8deg); }
  .tt-pie-wrapper.progress-18 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-19 .tt-pie .half-circle {
    border-color: #2F9EC1; }
  .tt-pie-wrapper.progress-19 .tt-pie .left-side {
    transform: rotate(68.4deg); }
  .tt-pie-wrapper.progress-19 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-20 .tt-pie .half-circle {
    border-color: #2F9EC0; }
  .tt-pie-wrapper.progress-20 .tt-pie .left-side {
    transform: rotate(72deg); }
  .tt-pie-wrapper.progress-20 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-21 .tt-pie .half-circle {
    border-color: #2E9EBE; }
  .tt-pie-wrapper.progress-21 .tt-pie .left-side {
    transform: rotate(75.6deg); }
  .tt-pie-wrapper.progress-21 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-22 .tt-pie .half-circle {
    border-color: #2E9FBD; }
  .tt-pie-wrapper.progress-22 .tt-pie .left-side {
    transform: rotate(79.2deg); }
  .tt-pie-wrapper.progress-22 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-23 .tt-pie .half-circle {
    border-color: #2E9FBC; }
  .tt-pie-wrapper.progress-23 .tt-pie .left-side {
    transform: rotate(82.8deg); }
  .tt-pie-wrapper.progress-23 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-24 .tt-pie .half-circle {
    border-color: #2D9FBA; }
  .tt-pie-wrapper.progress-24 .tt-pie .left-side {
    transform: rotate(86.4deg); }
  .tt-pie-wrapper.progress-24 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-25 .tt-pie .half-circle {
    border-color: #2DA0B9; }
  .tt-pie-wrapper.progress-25 .tt-pie .left-side {
    transform: rotate(90deg); }
  .tt-pie-wrapper.progress-25 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-26 .tt-pie .half-circle {
    border-color: #2DA0B7; }
  .tt-pie-wrapper.progress-26 .tt-pie .left-side {
    transform: rotate(93.6deg); }
  .tt-pie-wrapper.progress-26 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-27 .tt-pie .half-circle {
    border-color: #2DA0B6; }
  .tt-pie-wrapper.progress-27 .tt-pie .left-side {
    transform: rotate(97.2deg); }
  .tt-pie-wrapper.progress-27 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-28 .tt-pie .half-circle {
    border-color: #2CA1B5; }
  .tt-pie-wrapper.progress-28 .tt-pie .left-side {
    transform: rotate(100.8deg); }
  .tt-pie-wrapper.progress-28 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-29 .tt-pie .half-circle {
    border-color: #2CA1B3; }
  .tt-pie-wrapper.progress-29 .tt-pie .left-side {
    transform: rotate(104.4deg); }
  .tt-pie-wrapper.progress-29 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-30 .tt-pie .half-circle {
    border-color: #2CA1B2; }
  .tt-pie-wrapper.progress-30 .tt-pie .left-side {
    transform: rotate(108deg); }
  .tt-pie-wrapper.progress-30 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-31 .tt-pie .half-circle {
    border-color: #2CA2B0; }
  .tt-pie-wrapper.progress-31 .tt-pie .left-side {
    transform: rotate(111.6deg); }
  .tt-pie-wrapper.progress-31 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-32 .tt-pie .half-circle {
    border-color: #2BA2AF; }
  .tt-pie-wrapper.progress-32 .tt-pie .left-side {
    transform: rotate(115.2deg); }
  .tt-pie-wrapper.progress-32 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-33 .tt-pie .half-circle {
    border-color: #2BA2AE; }
  .tt-pie-wrapper.progress-33 .tt-pie .left-side {
    transform: rotate(118.8deg); }
  .tt-pie-wrapper.progress-33 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-34 .tt-pie .half-circle {
    border-color: #2BA3AC; }
  .tt-pie-wrapper.progress-34 .tt-pie .left-side {
    transform: rotate(122.4deg); }
  .tt-pie-wrapper.progress-34 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-35 .tt-pie .half-circle {
    border-color: #2BA3AB; }
  .tt-pie-wrapper.progress-35 .tt-pie .left-side {
    transform: rotate(126deg); }
  .tt-pie-wrapper.progress-35 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-36 .tt-pie .half-circle {
    border-color: #2AA4A9; }
  .tt-pie-wrapper.progress-36 .tt-pie .left-side {
    transform: rotate(129.6deg); }
  .tt-pie-wrapper.progress-36 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-37 .tt-pie .half-circle {
    border-color: #2AA4A8; }
  .tt-pie-wrapper.progress-37 .tt-pie .left-side {
    transform: rotate(133.2deg); }
  .tt-pie-wrapper.progress-37 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-38 .tt-pie .half-circle {
    border-color: #2AA4A7; }
  .tt-pie-wrapper.progress-38 .tt-pie .left-side {
    transform: rotate(136.8deg); }
  .tt-pie-wrapper.progress-38 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-39 .tt-pie .half-circle {
    border-color: #2AA5A5; }
  .tt-pie-wrapper.progress-39 .tt-pie .left-side {
    transform: rotate(140.4deg); }
  .tt-pie-wrapper.progress-39 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-40 .tt-pie .half-circle {
    border-color: #29A5A4; }
  .tt-pie-wrapper.progress-40 .tt-pie .left-side {
    transform: rotate(144deg); }
  .tt-pie-wrapper.progress-40 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-41 .tt-pie .half-circle {
    border-color: #29A5A2; }
  .tt-pie-wrapper.progress-41 .tt-pie .left-side {
    transform: rotate(147.6deg); }
  .tt-pie-wrapper.progress-41 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-42 .tt-pie .half-circle {
    border-color: #29A6A1; }
  .tt-pie-wrapper.progress-42 .tt-pie .left-side {
    transform: rotate(151.2deg); }
  .tt-pie-wrapper.progress-42 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-43 .tt-pie .half-circle {
    border-color: #28A6A0; }
  .tt-pie-wrapper.progress-43 .tt-pie .left-side {
    transform: rotate(154.8deg); }
  .tt-pie-wrapper.progress-43 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-44 .tt-pie .half-circle {
    border-color: #28A69E; }
  .tt-pie-wrapper.progress-44 .tt-pie .left-side {
    transform: rotate(158.4deg); }
  .tt-pie-wrapper.progress-44 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-45 .tt-pie .half-circle {
    border-color: #28A79D; }
  .tt-pie-wrapper.progress-45 .tt-pie .left-side {
    transform: rotate(162deg); }
  .tt-pie-wrapper.progress-45 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-46 .tt-pie .half-circle {
    border-color: #28A79B; }
  .tt-pie-wrapper.progress-46 .tt-pie .left-side {
    transform: rotate(165.6deg); }
  .tt-pie-wrapper.progress-46 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-47 .tt-pie .half-circle {
    border-color: #27A79A; }
  .tt-pie-wrapper.progress-47 .tt-pie .left-side {
    transform: rotate(169.2deg); }
  .tt-pie-wrapper.progress-47 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-48 .tt-pie .half-circle {
    border-color: #27A899; }
  .tt-pie-wrapper.progress-48 .tt-pie .left-side {
    transform: rotate(172.8deg); }
  .tt-pie-wrapper.progress-48 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-49 .tt-pie .half-circle {
    border-color: #27A897; }
  .tt-pie-wrapper.progress-49 .tt-pie .left-side {
    transform: rotate(176.4deg); }
  .tt-pie-wrapper.progress-49 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-50 .tt-pie .half-circle {
    border-color: #27A896; }
  .tt-pie-wrapper.progress-50 .tt-pie .left-side {
    transform: rotate(180deg); }
  .tt-pie-wrapper.progress-50 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-51 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-51 .tt-pie .half-circle {
      border-color: #26A994; }
    .tt-pie-wrapper.progress-51 .tt-pie .left-side {
      transform: rotate(183.6deg); }
    .tt-pie-wrapper.progress-51 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-52 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-52 .tt-pie .half-circle {
      border-color: #26A993; }
    .tt-pie-wrapper.progress-52 .tt-pie .left-side {
      transform: rotate(187.2deg); }
    .tt-pie-wrapper.progress-52 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-53 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-53 .tt-pie .half-circle {
      border-color: #26A991; }
    .tt-pie-wrapper.progress-53 .tt-pie .left-side {
      transform: rotate(190.8deg); }
    .tt-pie-wrapper.progress-53 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-54 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-54 .tt-pie .half-circle {
      border-color: #26AA90; }
    .tt-pie-wrapper.progress-54 .tt-pie .left-side {
      transform: rotate(194.4deg); }
    .tt-pie-wrapper.progress-54 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-55 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-55 .tt-pie .half-circle {
      border-color: #25AA8F; }
    .tt-pie-wrapper.progress-55 .tt-pie .left-side {
      transform: rotate(198deg); }
    .tt-pie-wrapper.progress-55 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-56 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-56 .tt-pie .half-circle {
      border-color: #25AA8D; }
    .tt-pie-wrapper.progress-56 .tt-pie .left-side {
      transform: rotate(201.6deg); }
    .tt-pie-wrapper.progress-56 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-57 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-57 .tt-pie .half-circle {
      border-color: #25AB8C; }
    .tt-pie-wrapper.progress-57 .tt-pie .left-side {
      transform: rotate(205.2deg); }
    .tt-pie-wrapper.progress-57 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-58 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-58 .tt-pie .half-circle {
      border-color: #25AB8A; }
    .tt-pie-wrapper.progress-58 .tt-pie .left-side {
      transform: rotate(208.8deg); }
    .tt-pie-wrapper.progress-58 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-59 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-59 .tt-pie .half-circle {
      border-color: #24AB89; }
    .tt-pie-wrapper.progress-59 .tt-pie .left-side {
      transform: rotate(212.4deg); }
    .tt-pie-wrapper.progress-59 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-60 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-60 .tt-pie .half-circle {
      border-color: #24AC88; }
    .tt-pie-wrapper.progress-60 .tt-pie .left-side {
      transform: rotate(216deg); }
    .tt-pie-wrapper.progress-60 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-61 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-61 .tt-pie .half-circle {
      border-color: #24AC86; }
    .tt-pie-wrapper.progress-61 .tt-pie .left-side {
      transform: rotate(219.6deg); }
    .tt-pie-wrapper.progress-61 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-62 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-62 .tt-pie .half-circle {
      border-color: #23AC85; }
    .tt-pie-wrapper.progress-62 .tt-pie .left-side {
      transform: rotate(223.2deg); }
    .tt-pie-wrapper.progress-62 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-63 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-63 .tt-pie .half-circle {
      border-color: #23AD83; }
    .tt-pie-wrapper.progress-63 .tt-pie .left-side {
      transform: rotate(226.8deg); }
    .tt-pie-wrapper.progress-63 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-64 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-64 .tt-pie .half-circle {
      border-color: #23AD82; }
    .tt-pie-wrapper.progress-64 .tt-pie .left-side {
      transform: rotate(230.4deg); }
    .tt-pie-wrapper.progress-64 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-65 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-65 .tt-pie .half-circle {
      border-color: #23AD81; }
    .tt-pie-wrapper.progress-65 .tt-pie .left-side {
      transform: rotate(234deg); }
    .tt-pie-wrapper.progress-65 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-66 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-66 .tt-pie .half-circle {
      border-color: #22AE7F; }
    .tt-pie-wrapper.progress-66 .tt-pie .left-side {
      transform: rotate(237.6deg); }
    .tt-pie-wrapper.progress-66 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-67 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-67 .tt-pie .half-circle {
      border-color: #22AE7E; }
    .tt-pie-wrapper.progress-67 .tt-pie .left-side {
      transform: rotate(241.2deg); }
    .tt-pie-wrapper.progress-67 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-68 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-68 .tt-pie .half-circle {
      border-color: #22AF7C; }
    .tt-pie-wrapper.progress-68 .tt-pie .left-side {
      transform: rotate(244.8deg); }
    .tt-pie-wrapper.progress-68 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-69 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-69 .tt-pie .half-circle {
      border-color: #22AF7B; }
    .tt-pie-wrapper.progress-69 .tt-pie .left-side {
      transform: rotate(248.4deg); }
    .tt-pie-wrapper.progress-69 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-70 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-70 .tt-pie .half-circle {
      border-color: #21AF7A; }
    .tt-pie-wrapper.progress-70 .tt-pie .left-side {
      transform: rotate(252deg); }
    .tt-pie-wrapper.progress-70 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-71 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-71 .tt-pie .half-circle {
      border-color: #21B078; }
    .tt-pie-wrapper.progress-71 .tt-pie .left-side {
      transform: rotate(255.6deg); }
    .tt-pie-wrapper.progress-71 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-72 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-72 .tt-pie .half-circle {
      border-color: #21B077; }
    .tt-pie-wrapper.progress-72 .tt-pie .left-side {
      transform: rotate(259.2deg); }
    .tt-pie-wrapper.progress-72 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-73 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-73 .tt-pie .half-circle {
      border-color: #21B075; }
    .tt-pie-wrapper.progress-73 .tt-pie .left-side {
      transform: rotate(262.8deg); }
    .tt-pie-wrapper.progress-73 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-74 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-74 .tt-pie .half-circle {
      border-color: #20B174; }
    .tt-pie-wrapper.progress-74 .tt-pie .left-side {
      transform: rotate(266.4deg); }
    .tt-pie-wrapper.progress-74 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-75 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-75 .tt-pie .half-circle {
      border-color: #20B173; }
    .tt-pie-wrapper.progress-75 .tt-pie .left-side {
      transform: rotate(270deg); }
    .tt-pie-wrapper.progress-75 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-76 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-76 .tt-pie .half-circle {
      border-color: #20B171; }
    .tt-pie-wrapper.progress-76 .tt-pie .left-side {
      transform: rotate(273.6deg); }
    .tt-pie-wrapper.progress-76 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-77 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-77 .tt-pie .half-circle {
      border-color: #20B270; }
    .tt-pie-wrapper.progress-77 .tt-pie .left-side {
      transform: rotate(277.2deg); }
    .tt-pie-wrapper.progress-77 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-78 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-78 .tt-pie .half-circle {
      border-color: #1FB26E; }
    .tt-pie-wrapper.progress-78 .tt-pie .left-side {
      transform: rotate(280.8deg); }
    .tt-pie-wrapper.progress-78 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-79 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-79 .tt-pie .half-circle {
      border-color: #1FB26D; }
    .tt-pie-wrapper.progress-79 .tt-pie .left-side {
      transform: rotate(284.4deg); }
    .tt-pie-wrapper.progress-79 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-80 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-80 .tt-pie .half-circle {
      border-color: #1FB36C; }
    .tt-pie-wrapper.progress-80 .tt-pie .left-side {
      transform: rotate(288deg); }
    .tt-pie-wrapper.progress-80 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-81 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-81 .tt-pie .half-circle {
      border-color: #1EB36A; }
    .tt-pie-wrapper.progress-81 .tt-pie .left-side {
      transform: rotate(291.6deg); }
    .tt-pie-wrapper.progress-81 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-82 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-82 .tt-pie .half-circle {
      border-color: #1EB369; }
    .tt-pie-wrapper.progress-82 .tt-pie .left-side {
      transform: rotate(295.2deg); }
    .tt-pie-wrapper.progress-82 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-83 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-83 .tt-pie .half-circle {
      border-color: #1EB467; }
    .tt-pie-wrapper.progress-83 .tt-pie .left-side {
      transform: rotate(298.8deg); }
    .tt-pie-wrapper.progress-83 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-84 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-84 .tt-pie .half-circle {
      border-color: #1EB466; }
    .tt-pie-wrapper.progress-84 .tt-pie .left-side {
      transform: rotate(302.4deg); }
    .tt-pie-wrapper.progress-84 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-85 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-85 .tt-pie .half-circle {
      border-color: #1DB465; }
    .tt-pie-wrapper.progress-85 .tt-pie .left-side {
      transform: rotate(306deg); }
    .tt-pie-wrapper.progress-85 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-86 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-86 .tt-pie .half-circle {
      border-color: #1DB563; }
    .tt-pie-wrapper.progress-86 .tt-pie .left-side {
      transform: rotate(309.6deg); }
    .tt-pie-wrapper.progress-86 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-87 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-87 .tt-pie .half-circle {
      border-color: #1DB562; }
    .tt-pie-wrapper.progress-87 .tt-pie .left-side {
      transform: rotate(313.2deg); }
    .tt-pie-wrapper.progress-87 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-88 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-88 .tt-pie .half-circle {
      border-color: #1DB560; }
    .tt-pie-wrapper.progress-88 .tt-pie .left-side {
      transform: rotate(316.8deg); }
    .tt-pie-wrapper.progress-88 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-89 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-89 .tt-pie .half-circle {
      border-color: #1CB65F; }
    .tt-pie-wrapper.progress-89 .tt-pie .left-side {
      transform: rotate(320.4deg); }
    .tt-pie-wrapper.progress-89 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-90 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-90 .tt-pie .half-circle {
      border-color: #1CB65E; }
    .tt-pie-wrapper.progress-90 .tt-pie .left-side {
      transform: rotate(324deg); }
    .tt-pie-wrapper.progress-90 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-91 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-91 .tt-pie .half-circle {
      border-color: #1CB65C; }
    .tt-pie-wrapper.progress-91 .tt-pie .left-side {
      transform: rotate(327.6deg); }
    .tt-pie-wrapper.progress-91 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-92 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-92 .tt-pie .half-circle {
      border-color: #1CB75B; }
    .tt-pie-wrapper.progress-92 .tt-pie .left-side {
      transform: rotate(331.2deg); }
    .tt-pie-wrapper.progress-92 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-93 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-93 .tt-pie .half-circle {
      border-color: #1BB759; }
    .tt-pie-wrapper.progress-93 .tt-pie .left-side {
      transform: rotate(334.8deg); }
    .tt-pie-wrapper.progress-93 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-94 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-94 .tt-pie .half-circle {
      border-color: #1BB758; }
    .tt-pie-wrapper.progress-94 .tt-pie .left-side {
      transform: rotate(338.4deg); }
    .tt-pie-wrapper.progress-94 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-95 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-95 .tt-pie .half-circle {
      border-color: #1BB857; }
    .tt-pie-wrapper.progress-95 .tt-pie .left-side {
      transform: rotate(342deg); }
    .tt-pie-wrapper.progress-95 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-96 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-96 .tt-pie .half-circle {
      border-color: #1BB855; }
    .tt-pie-wrapper.progress-96 .tt-pie .left-side {
      transform: rotate(345.6deg); }
    .tt-pie-wrapper.progress-96 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-97 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-97 .tt-pie .half-circle {
      border-color: #1AB854; }
    .tt-pie-wrapper.progress-97 .tt-pie .left-side {
      transform: rotate(349.2deg); }
    .tt-pie-wrapper.progress-97 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-98 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-98 .tt-pie .half-circle {
      border-color: #1AB952; }
    .tt-pie-wrapper.progress-98 .tt-pie .left-side {
      transform: rotate(352.8deg); }
    .tt-pie-wrapper.progress-98 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-99 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-99 .tt-pie .half-circle {
      border-color: #1AB951; }
    .tt-pie-wrapper.progress-99 .tt-pie .left-side {
      transform: rotate(356.4deg); }
    .tt-pie-wrapper.progress-99 .tt-pie .right-side {
      transform: rotate(180deg); }

.tt-pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden; }
  .tt-pie-wrapper--solid:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left; }
  .tt-pie-wrapper--solid .tt-label {
    background: transparent; }
  .tt-pie-wrapper--solid.progress-65 {
    background: linear-gradient(to right, #e67e22 50%, #34495e 50%); }
    .tt-pie-wrapper--solid.progress-65:before {
      background: #e67e22;
      transform: rotate(126deg); }
  .tt-pie-wrapper--solid.progress-25 {
    background: linear-gradient(to right, #9b59b6 50%, #34495e 50%); }
    .tt-pie-wrapper--solid.progress-25:before {
      background: #34495e;
      transform: rotate(-270deg); }
  .tt-pie-wrapper--solid.progress-88 {
    background: linear-gradient(to right, #3498db 50%, #34495e 50%); }
    .tt-pie-wrapper--solid.progress-88:before {
      background: #3498db;
      transform: rotate(43.2deg); }

/*# sourceMappingURL=radial-progress-bar.css.map */