@import url(https://fonts.googleapis.com/css?family=Lato:700);

// -- vars
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

$colors: #3498DB, #3398D9, #3398D8, #3399D6, #3299D5, #3299D3, #329AD2, #329AD1, #319ACF, #319BCE, #319BCC, #319BCB, #309CCA, #309CC8, #309CC7, #309DC5, #2F9DC4, #2F9DC3, #2F9EC1, #2F9EC0, #2E9EBE, #2E9FBD, #2E9FBC, #2D9FBA, #2DA0B9, #2DA0B7, #2DA0B6, #2CA1B5, #2CA1B3, #2CA1B2, #2CA2B0, #2BA2AF, #2BA2AE, #2BA3AC, #2BA3AB, #2AA4A9, #2AA4A8, #2AA4A7, #2AA5A5, #29A5A4, #29A5A2, #29A6A1, #28A6A0, #28A69E, #28A79D, #28A79B, #27A79A, #27A899, #27A897, #27A896, #26A994, #26A993, #26A991, #26AA90, #25AA8F, #25AA8D, #25AB8C, #25AB8A, #24AB89, #24AC88, #24AC86, #23AC85, #23AD83, #23AD82, #23AD81, #22AE7F, #22AE7E, #22AF7C, #22AF7B, #21AF7A, #21B078, #21B077, #21B075, #20B174, #20B173, #20B171, #20B270, #1FB26E, #1FB26D, #1FB36C, #1EB36A, #1EB369, #1EB467, #1EB466, #1DB465, #1DB563, #1DB562, #1DB560, #1CB65F, #1CB65E, #1CB65C, #1CB75B, #1BB759, #1BB758, #1BB857, #1BB855, #1AB854, #1AB952, #1AB951, #1ABA50;

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .tt-pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);
  
  &:before {
    @if $progress <= 50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    } @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}

// -- selectors
*,
*:before,
*:after {
  box-sizing: border-box;
}

.tt-set-size {
  font-size: 10em;
}

.tt-charts-container {
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  margin: 0 auto;
  max-width: 1.2em;
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.tt-pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  position: relative;
  
  &:nth-child(3n + 1) {
    clear: both;
  }

  .tt-pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .tt-label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .tt-shadow {
    @include size(100%, 100%);
    border: $default-size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .tt-label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  @for $i from 1 to 100 {
    &.progress-#{$i} {
      @include draw-progress($i, nth($colors, $i));
    }
  }
}

.tt-pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;

  &:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
  }
  
  .tt-label {
    background: transparent;
  }
  
  &.progress-65 {
    @include draw-progress--solid(65, #e67e22, $bg-color);
  }
  
  &.progress-25 {
    @include draw-progress--solid(25, #9b59b6, $bg-color);
  }
  
  &.progress-88 {
    @include draw-progress--solid(88, #3498db, $bg-color);
  }
}