@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
  box-sizing: border-box; }

.tt-set-size {
  font-size: 10em; }

.tt-charts-container {
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  margin: 0 auto;
  max-width: 1.2em; }
  .tt-charts-container:after {
    clear: both;
    content: '';
    display: table; }

.tt-pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative; }
  .tt-pie-wrapper:nth-child(3n + 1) {
    clear: both; }
  .tt-pie-wrapper .tt-pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0; }
    .tt-pie-wrapper .tt-pie .half-circle {
      height: 100%;
      width: 100%;
      border: 0.1em solid #3498db;
      border-radius: 50%;
      clip: rect(0, 0.5em, 1em, 0);
      left: 0;
      position: absolute;
      top: 0; }
  .tt-pie-wrapper .tt-label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.8em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em; }
    .tt-pie-wrapper .tt-label .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super; }
  .tt-pie-wrapper .tt-shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%; }
  .tt-pie-wrapper.style-2 .tt-label {
    background: none;
    color: #7f8c8d; }
    .tt-pie-wrapper.style-2 .tt-label .smaller {
      color: #bdc3c7; }
  .tt-pie-wrapper.progress-30 .tt-pie .half-circle {
    border-color: #3498db; }
  .tt-pie-wrapper.progress-30 .tt-pie .left-side {
    transform: rotate(108deg); }
  .tt-pie-wrapper.progress-30 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-60 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-60 .tt-pie .half-circle {
      border-color: #9b59b6; }
    .tt-pie-wrapper.progress-60 .tt-pie .left-side {
      transform: rotate(216deg); }
    .tt-pie-wrapper.progress-60 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-90 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-90 .tt-pie .half-circle {
      border-color: #e67e22; }
    .tt-pie-wrapper.progress-90 .tt-pie .left-side {
      transform: rotate(324deg); }
    .tt-pie-wrapper.progress-90 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-45 .tt-pie .half-circle {
    border-color: #1abc9c; }
  .tt-pie-wrapper.progress-45 .tt-pie .left-side {
    transform: rotate(162deg); }
  .tt-pie-wrapper.progress-45 .tt-pie .right-side {
    display: none; }
  .tt-pie-wrapper.progress-75 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-75 .tt-pie .half-circle {
      border-color: #8e44ad; }
    .tt-pie-wrapper.progress-75 .tt-pie .left-side {
      transform: rotate(270deg); }
    .tt-pie-wrapper.progress-75 .tt-pie .right-side {
      transform: rotate(180deg); }
  .tt-pie-wrapper.progress-95 .tt-pie {
    clip: rect(auto, auto, auto, auto); }
    .tt-pie-wrapper.progress-95 .tt-pie .half-circle {
      border-color: #e74c3c; }
    .tt-pie-wrapper.progress-95 .tt-pie .left-side {
      transform: rotate(342deg); }
    .tt-pie-wrapper.progress-95 .tt-pie .right-side {
      transform: rotate(180deg); }

.tt-pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden; }
  .tt-pie-wrapper--solid:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left; }
  .tt-pie-wrapper--solid .tt-label {
    background: transparent; }
  .tt-pie-wrapper--solid.progress-65 {
    background: linear-gradient(to right, #e67e22 50%, #34495e 50%); }
    .tt-pie-wrapper--solid.progress-65:before {
      background: #e67e22;
      transform: rotate(126deg); }
  .tt-pie-wrapper--solid.progress-25 {
    background: linear-gradient(to right, #9b59b6 50%, #34495e 50%); }
    .tt-pie-wrapper--solid.progress-25:before {
      background: #34495e;
      transform: rotate(-270deg); }
  .tt-pie-wrapper--solid.progress-88 {
    background: linear-gradient(to right, #3498db 50%, #34495e 50%); }
    .tt-pie-wrapper--solid.progress-88:before {
      background: #3498db;
      transform: rotate(43.2deg); }

/*# sourceMappingURL=radial-progress-bar.css.map */