$grey-lighter: hsl(0, 0%, 86%) !default;
$radius-rounded: 290486px !default;

@mixin loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid $grey-lighter;
  border-radius: $radius-rounded;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

.element {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}

.selector .tag {
  position: relative;
  padding-left: 1.25em;
}

.selector .tag .rel {
  position: absolute;
  top: 0;
  left: 4px;
  color: white;
  font-size: 0.8em;
}