<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Textinator</title>
    <link rel="stylesheet" href="{{ static('styles/fontawesome/all.min.css') }}">
    <link rel="stylesheet" href="{{ static('styles/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ static('styles/base_style.css') }}">
    <link rel="stylesheet" href="{{ static('styles/shepherd-theme-default.css') }}">
    <link rel="stylesheet" href="{% sass_src 'styles/style.scss' %}">
    <link href="{% sass_src 'styles/radial-progress-bar.scss' %}" rel="stylesheet" type="text/css" />
    {% block custom_styles %}{% endblock %}

    <script type="text/javascript" src="{{ static('scripts/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/jquery_ext.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/d3.min.js') }}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script type="text/javascript" src="{{ static('scripts/letter_avatar.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/shepherd.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/labeler.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/script.js') }}"></script>
    {% block custom_scripts %}{% endblock %}
  </head>
  <body is-inside="{{'true' if '/projects/' in request.path else 'false'}}">
    {% include 'partials/_navbar.html' %}
    <div class="container is-fluid">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>