<!DOCTYPE html>
{% set is_inside_project=request.path|is_inside %}
<html class="has-navbar-fixed-top" {% if is_inside_project %}is-inside="true"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Textinator</title>
    <link rel="stylesheet" href="{{ static('@fortawesome/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ static('@mdi/font/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ static('bulma/css/bulma.min.css') }}">
    <!--<link rel="stylesheet" href="{{ static('shepherd.js/dist/css/shepherd-theme-default.css') }}">-->
    <link rel="stylesheet" href="{{ static('@creativebulma/bulma-divider/dist/bulma-divider.min.css') }}">
    <link rel="stylesheet" href="{{ static('styles/base_style.css') }}">
    {% block custom_styles %}{% endblock %}

    <script type="text/javascript" src="{{ url('javascript-catalog') }}"></script>
    <script type="text/javascript" src="{{ static('jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/jquery_ext.js') }}"></script>
    <script type="text/javascript" src="{{ static('jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('@popperjs/core/dist/umd/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('tippy.js/dist/tippy.umd.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <!--<script type="text/javascript" src="{{ static('shepherd.js/dist/js/shepherd.min.js') }}"></script>-->
    <script type="text/javascript" src="{{ static('scripts/script.js') }}"></script>
    {% block custom_scripts %}{% endblock %}
  </head>
  <body root='{{root_url}}'>
    {% include 'partials/_navbar.html' %}
    <div class="container is-fluid{% if is_inside_project %} tt-workspace{% endif %}">
      {% block content %}{% endblock %}
    </div>
    {% block custom_body_scripts %}{% endblock %}
  </body>
</html>
