{% extends "layout.html" %}

{% block content %}
<div class="hero main-gradient is-fullheight">
  <div class="hero-body">
    <div class="box is-vcentered margin-center">
      <div class="logo has-text-centered">Textinator</div>
      <div class="container">
        <form method="post" action="" class='form'>
          {% csrf_token %}
          {% for field in form %}
            <div class="field">
              <label for="username" class="label">{{ field.label_tag }}</label>
              <div class="control">
                <input class="input" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" required />
              </div>
              {% if field.help_text %}
                <div class="help">{% if field.html_name != 'username' %}Required. {% endif %}{{ field.help_text }}</div>
              {% else %}
                <div class="help">{% if field.html_name != 'username' %}Required. {% endif %}</div>
              {% endif %}
              {% if field.errors %}<div class="help is-danger">{{ field.errors }}</div>{% endif %}
            </div>
          {% endfor %}
          </dl>
          <div class="field is-grouped">
            <div class="control">
              <input type="submit" value="Register" class="button is-link">
            </div>
            <div class="control">
              <a href="{% url 'login' %}" class='button is-text'>Already have an account?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
