<div class="guidelines modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="guidelines card">
      <header class="card-header">
        <p class="card-header-title">
          {{project.title}}
        </p>
      </header>
      <div class="card-content">
        <div class="button-scrolling content">
          {% if project.guidelines %}
            {{project.guidelines|safe}}
          {% else %}
            <p class='has-text-justified'>{{ _("No guidelines are provided") }}</p>
          {% endif %}
        </div>
        {% if project.has_intro_tour %}
          <div class="content">
            <div id="followIntroTour" class='ui button'>{{ _("Follow the UI intro tour") }}</div>
          </div>
        {% endif %}
        <div class='content'>
          <p class='has-text-weight-bold'>{{ _("project details")|capitalize }}</p>
          <!-- TODO: make this table responsive -->
          <table class='table'>
            <tbody>
              {% if project.author.first_name and project.author.last_name %}
                <tr>
                  <td>{{ _("responsible")|capitalize }}</td>
                  <td>{{project.author.first_name}} {{project.author.last_name}}</td>
                </tr>
              {% endif %}
              {% if project.author.email %}
                <tr>
                  <td>{{ _("contact email")|capitalize }}</td>
                  <td>{{project.author.email}}</td>
                </tr>
              {% endif %}
              {% if project.dt_publish %}
                <tr>
                  <td>{{ _("published")|capitalize }}</td>
                  <td>{{project.dt_publish|naturaltime}}</td>
                </tr>
              {% endif %}
              {% if project.dt_finish %}
                <tr>
                  <td>{{ _("will be expired")|capitalize }}</td>
                  <td>
                    {{project.dt_finish|naturaltime}}
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>