{% extends "layout.html" %}

{% block content %}
<h1 class="title">{{ _("Settings") }}</h1>
<form action="{{ url('set_language') }}" method="post">
  {{ csrf_input }}
  <div class="field">
    <label for="language" class="label">{{ _("Language") }}</label>
    <div class="control">
      <div class="select">
        <select name="language">
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == current_language %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <input type="submit" value='{{ _("Save") }}'>
</form>
{% endblock %}
