{% load common_extras %}

<div class="columns">
  <div class="column is-three-quarters">
    <article class="article message is-dark">
      <div class="message-header">
        <p>Article</p>
        <a id="guidelinesButton" class="is-pulled-right">GUIDELINES</a>
      </div>
      <div class="selector element message-body">{{text|safe}}</div>
    </article>
    <article class="markers message is-dark">
      <div class="message-header">
        <p>Markers</p>
      </div>
      <div class="message-body">
        {% for marker in task_markers %}
          <span class="marker tag is-{{marker.color}}">{{marker.label_name}}</span>
        {% endfor %}
        {% for marker in project.marker_set.all %}
          <span class="marker tag is-{{marker.color}}">{{marker.label_name}}</span>
        {% endfor %}
      </div>
    </article>
    <article class="question message is-primary">
      <div class="message-header">
        <p>Your question</p>
      </div>
      <div class="message-body">
        <form id="inputForm" action="{% url 'projects:record_datapoint' %}">
          {% csrf_token %}
          <input type="hidden" name="pid" value="{{project.pk}}">
          <div class="field">
            <div class="control">
              <input class='question input' type="text" name="question" placeholder="Type in your question here">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class='submit button'>Submit</button>
            </div>
            <div class='control'>
              <a href="{% url 'projects:new_article' proj=project.pk %}" class="button" id="getNewArticle">Get new article</a>
            </div>
          </div>
        </form>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="achievements message is-info">
      <div class="message-header">
        <p>Achievements</p>
      </div>
      <div class="message-body">
        <div class="countdown">
          <div class="countdown-number"></div>
          <svg>
            <circle r="75" cx="100" cy="98"></circle>
            <circle r="75" cx="100" cy="98"></circle>
          </svg>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    {{guidelines|safe}}
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
  $('#guidelinesButton').on('click', function() {
    $('.modal').addClass('is-active');
  });

  $('.modal-close').on('click', function() {
    $('.modal').removeClass('is-active');
  });

  $('.modal-background').on('click', function() {
    $('.modal').removeClass('is-active');
  });

  $('#guidelinesButton').click();
</script>