{% load common_extras %}

<div class="columns">
  <div class="column is-three-quarters">
    <article class="article message is-dark">
      <div class="message-header">
        <p>Article</p>
        <a id="guidelinesButton" class="is-pulled-right">GUIDELINES</a>
      </div>
      <div class="selector element message-body">{{text|safe}}</div>
    </article>
    <article class="markers message is-dark">
      <div class="message-header">
        <p>Markers</p>
      </div>
      <div class="message-body">
        {% for marker in task_markers %}
          <div class="marker tags has-addons" data-color="{{marker.color}}" data-shortcut="{{marker.shortcut|upper}}">
            <span class="tag is-{{marker.color}}">{{marker.label_name}}</span>
            <span class="tag is-dark">{{marker.shortcut|upper}}</span>
          </div>
        {% endfor %}
        {% for marker in project.marker_set.all %}
          <div class="marker tags has-addons" data-color="{{marker.color}}" data-shortcut="{{marker.shortcut|upper}}">
            <span class="tag is-{{marker.color}}">{{marker.label_name}}</span>
            <span class="tag is-dark">{{marker.shortcut|upper}}</span>
          </div>
        {% endfor %}
      </div>
    </article>
    <article class="question message is-primary">
      <div class="message-header">
        <p>Your question</p>
      </div>
      <div class="message-body">
        <form id="inputForm" action="{% url 'projects:record_datapoint' %}">
          {% csrf_token %}
          <input type="hidden" name="pid" value="{{project.pk}}">
          <div class="field">
            <div class="control">
              <input class='question input' type="text" name="question" placeholder="Type in your question here">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class='submit button'>Submit</button>
            </div>
            <div class='control'>
              <a href="{% url 'projects:new_article' proj=project.pk %}" class="button" id="getNewArticle">Get new article</a>
            </div>
          </div>
        </form>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="achievements message is-info">
      <div class="message-header">
        <p>Achievements</p>
      </div>
      <div class="message-body">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Your personal qtimer</p>
              <p class="title">
                <div class="countdown">
                  <div class="countdown-number">60</div>
                  <svg>
                    <circle r="62" cx="80" cy="80"></circle>
                    <circle r="62" cx="80" cy="80"></circle>
                  </svg>
                </div>
              </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Asked questions today</p>
              <p class="title">
                <div class="tt-set-size tt-charts-container">
                  <div class="tt-pie-wrapper no-margin">
                    <span class="tt-label">10<span class="smaller">q</span></span>
                    <div class="tt-pie">
                      <div class="left-side half-circle"></div>
                      <div class="right-side half-circle"></div>
                    </div>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </nav>

        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Average asking time (AAT)</p>
              <p id="aat" class="title">43s</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">AAT among all users</p>
              <p class="title">60s</p>
            </div>
          </div>
        </nav>
      </div>
    </article>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="guidelines card">
      <header class="card-header">
        <p class="card-header-title">
          {{project.title}}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p class='has-text-weight-bold'>Guidelines</p>
          <p class='has-text-justified'>{{project.guideline}}</p>
        </div>
        <div class="content">
          <div id="followIntroTour" class='ui button'>Follow the intro tour</div>
        </div>
        <div class='content'>
          <p class='has-text-weight-bold'>Contact information</p>
          <!-- TODO: make this table responsive -->
          <table class='table'>
            <tbody>
              <tr>
                <td>Responsible</td>
                <td>{{project.author.first_name}} {{project.author.last_name}}</td>
              </tr>
              <tr>
                <td>Contact email</td>
                <td>{{project.author.email}}</td>
              </tr>
              <tr>
                <td>Published at</td>
                <td>{{project.dt_publish|date:"M d, Y H:i"}}</td>
              </tr>
              <tr>
                <td>To be finished at</td>
                <td>
                  {{project.dt_finish|date:"M d, Y H:i"}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
  $('#guidelinesButton').on('click', function() {
    $('.modal').addClass('is-active');
  });

  $('.modal-close').on('click', function() {
    $('.modal').removeClass('is-active');
    $('.countdown svg circle:last-child').trigger('cdAnimate');
  });

  $('.modal-background').on('click', function() {
    $('.modal').removeClass('is-active');
    $('.countdown svg circle:last-child').trigger('cdAnimate');
  });

  $('#guidelinesButton').click();

  const tour = new Shepherd.Tour({
    defaultStepOptions: {
      scrollTo: {
        behavior: 'smooth',
        block: 'center'
      },
      showCancelLink: true,
      tippyOptions: {
        maxWidth: 500
      }
    },
    theme: 'default',
    useModalOverlay: true
  });

  tour.addStep('article', {
    text: "Every time you're entering the project, you're presented with a Wikipedia article in this Article area of the screen.",
    attachTo: { 
      element: '.article.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Next',
        action: tour.next
      }
    ]
  });

  tour.addStep('questions', {
    text: "Your task is to ask questions based on this Wikipedia article. The questions are to be entered in this Question area of the screen",
    attachTo: { 
      element: '.question.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Next',
        action: tour.next
      }
    ]
  });

  tour.addStep('answer', {
    text: 'Finally, to mark the correct answer to the question, please highlight the answer in the Article area and then click on one of the markers below (or use the shortcuts that might be present in the right corner for each marker). Happy question answering!',
    attachTo: { 
      element: '.markers.message', 
      on: 'bottom'
    },
    buttons: [
      {
        text: 'Finish',
        action: tour.hide
      }
    ]
  });

  $('#followIntroTour').on('click', function() {
    $('.modal').removeClass('is-active');
    tour.start();
  });
</script>